
@{
    ViewBag.Title = "Index";
}


<input type="hidden" name="name" id="tid" value="@ViewBag.Tid" />
<div class="lstEBook container" style="min-height:500px;">

</div>


<script>
    tid = $("#tid").val();
</script>



