@{
    ViewBag.Title = "图书首页_齐齐哈尔市民学习网";
}
<div id="d_menu" class="d-menu menu-bok"><div id="d_menu_c" class="d-menu-c"><!-- region start: menu --><div id="d_headmenu" class="d-headmenu"><div class="body"><a class="item_selected" href="/EBook/Index" id="headmenu_default">悦读首页</a><a class="item" href="/EBook/Show" id="headmenu_discovery">发现图书</a><!--<a id="headmenu_bookshelf" class="item" href="/book/bookshelf">我的藏书</a>--></div></div><!-- region end: menu --></div></div>
<div id="d_bottom" class="d-bottom" style="visibility: hidden; position: relative;"><div class="d-bottom-c"><div id="d_scrolltop" class="d-scrolltop" style="right: -70px;"><span class="t" onclick="$(document.body).ScrollTo();">顶部</span></div></div></div>
<div class="d-row">
    <div class="d-row-c">
        <div class="d-col-2-8">
            <div class="contentarea" style="padding: 30px 0 30px 0;">
                <!-- region start: banner -->
                <div id="d_bookbanner" class="d-bookbanner" data-km-url="/Book/MainBanner">
                    <div id="d_bookbanner" class="jcarousel-wrapper">
                        <div class="jcarousel" data-jcarousel="true" data-jcarouselautoscroll="true">
                            <ul style="left: -652px; top: 0px;">
                                <li>
                                    <a href="http://read.shlll.net/Reading/Reading12683.html" target="_blank">
                                        <img src="/File/Reading/Recommend/2015/1/29/201501291602238962.jpg" width="652" height="205" alt="">
                                    </a>
                                </li>
                                <li>
                                    <a href="http://read.shlll.net/Reading/Reading12615.html" target="_blank">
                                        <img src="/File/Reading/Recommend/2015/1/13/201501131534158371.jpg" width="652" height="205" alt="">
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p class="photo-credits"></p>
                        <a href="#" class="jcarousel-control-prev" data-jcarouselcontrol="true">‹</a>    <a href="#" class="jcarousel-control-next" data-jcarouselcontrol="true">›</a>
                        <p class="jcarousel-pagination" data-jcarouselpagination="true"><a href="#1" class="active">1</a><a href="#2" class="">2</a></p>
                    </div>
                </div><!-- region end: banner --><!-- region start: 热门图书 -->
                <div id="d_bookhot" class="d-bookhot">
                    <div class="head">
                        热门图书
                        <span class="turn">
                            <span class="dot_select" onclick="km_slide.dottran('slide_bookhot',0,494)"></span>
                            <span class="dot" onclick="km_slide.dottran('slide_bookhot',1,494)"></span>
                            <span class="dot" onclick="km_slide.dottran('slide_bookhot',2,494)"></span>
                        </span>
                    </div>
                    <div class="body">
                        <div id="slide_bookhot" class="slidecontainer">
                            <div class="item">
                                <a class="cover" href="/Reading/Reading4629.html" target="_blank">
                                    <img style="width:110px;height:164px;" src="/file/reading/EBook/20140421/GTBY00-327497.jpg" data-echo="/file/reading/EBook/20140421/GTBY00-327497.jpg" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/reading_default_110_164.jpg'">
                                </a>
                                <div class="title trim">
                                    <a href="/Reading/Reading4629.html" title="闭上嘴巴更有说服力" target="_blank">闭上嘴巴更有说服力</a>
                                </div>
                                <div class="author trim" title=""></div>
                            </div>
                        </div>
                        <!--
                            <div class="item">
                            <a class="cover" href="（书详细页面）" target="_blank">
                            <img style="width:110px;height:164px;" src="（书图片路径）" data-echo="（书图片路径）" onerror="javascript:this.onerror=null;this.src='（错误图片路径）'">
                            </a>
                            <div class="title trim">
                            <a href="（书详细页面）" title="（书名）" target="_blank">（书名）</a>
                            </div>
                            <div class="author trim" title=""></div>
                            </div>
                        </div>
                        -->
                    </div>
                </div>
                <!-- region end: 热门图书 -->
                <!-- region start: ad1 -->
                <!-- region end: ad1 -->
                <!-- region start: 最受关注 -->
                <div id="d_booknew" class="d-booknew">
                    <div class="head">
                        最受关注
                        <span class="turn">
                            <span class="dot_select" onclick="km_slide.dottran('slide_booknew',0,378)"></span>
                            <span class="dot" onclick="km_slide.dottran('slide_booknew',1,378)"></span>
                            <span class="dot" onclick="km_slide.dottran('slide_booknew',2,378)"></span>
                        </span>
                    </div>
                    <div class="body">
                        <div id="slide_booknew" class="slidecontainer">
                            <div class="item">
                                <div class="title trim">
                                    <a href="/Reading/Reading9278.html" title="实用生活文库-学会安全自救" target="_blank">实用生活文库-学会安全自救</a>
                                </div>
                                <div class="star star40"></div>
                                <div title="韩乐等主编" class="author trim">作者：韩乐等主编</div>
                                <div class="classification  trim" title="婚恋与家居/居家安全常识">婚恋与家居/居家安全常识</div>
                                <div class="type">&nbsp;</div>
                                <div class="reviews trim" title="【微点评】实用生活文库-学会安全自救">【微点评】实用生活文库-学会安全自救</div>
                                <a class="cover" href="/Reading/Reading9278.html" target="_blank">
                                    <img src="/file/reading/EBook/20140421/DLWH00-50029058.jpg" style="width:68px;height:96px;" data-echo="/file/reading/EBook/20140421/DLWH00-50029058.jpg" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/reading_default_110_164.jpg'">
                                </a>
                            </div>
                            <!--
                                <div class="item">
                                <div class="title trim">
                                    <a href="（书详细页面地址）" title="（书名）" target="_blank">（书名）</a>
                                </div>
                                <div class="star star40"></div>
                                <div title="（作者）" class="author trim">（作者）</div>
                                <div class="classification  trim" title="（分类）">（分类）</div>
                                <div class="type">&nbsp;</div>
                                <div class="reviews trim" title="（点评）">（点评）</div>
                                <a class="cover" href="（书详细页面地址）" target="_blank">
                                    <img src="（书图片地址）" style="width:68px;height:96px;" data-echo="（书图片地址）" onerror="javascript:this.onerror=null;this.src='（无封面书图片统一地址）'">
                                </a>
                            </div>
                            -->
                        </div>
                    </div>
                </div><!-- region end: 最受关注 --><!-- region start: 图书评论 --><div id="d_bookcomment" class="d-bookcomment">
                    <div class="head">
                        热门书评
                    </div>
                    <div class="body">
                        <div class="item">
                            <div class="title trim">
                                <a href="/Reading/Reading12683.html" title="时间都去哪儿了：我和老爸30年" target="_blank">读后感</a>
                            </div>
                            <div class="name trim" style="color:#0082CD; ">
                                cxy0905 评论了
                                <a href="/Reading/Reading12683.html" target="_blank">《时间都去哪儿了：我和老爸30年》</a>
                            </div>
                            <div class="review txt-justify">
                                <pre class="preComment">这本书写了作者与她父亲30年的生活中的点点滴滴，虽然都是不起眼的小事，但却处处体现出了父女亲情。时间慢慢过去了，孩子长大了，父母却老了，我们应该珍惜时间，珍惜与父母在一起的时光！</pre>
                            </div>
                            <div class="info">2015-06-22 19:00 </div>
                            <a class="cover" href="#">
                                <img src="/file/Images/Default/member_default_120_120.jpg" class="imgMemberPic" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'">
                            </a>
                        </div>
                    </div>
                    <a href="javascript:void('');" class="more" id="hotCommentMore" onclick="showMore()">显示更多</a>
                </div><!-- region end: 图书评论 -->
            </div>
        </div>
        <div class="d-col-2-4">
            <div class="contentarea" style="padding: 0px 0 30px 0;">
                <!-- region start: 热门标签 -->
                <div id="d_booktaghot" class="d-booktaghot">
                    <div class="head">
                        热门标签
                        <a href="/Book/Find" target="_parent">浏览更多 »</a>
                    </div>
                    <div class="body">
                        <div class="item">
                            <a href="/Book/Find?parms=8009A97B9D0780C5" target="_parent">文学 »</a>
                        </div>
                        <a class="subitem" href="/Book/Find?parms=1484B3909CE98454" target="_parent" title="经史子集">经史子集</a>
                        <!--
                             <div class="item">
                                 <a href="（标签页面）" target="_parent">（标签名） »</a>
                            </div>
                             <a class="subitem" href="（书详细页面路径）" target="_parent" title="（书名）">（书名）</a>
                        -->
                    </div>
                </div><!-- region end: 热门标签 --><!-- region start: 读者动态 --><div id="d_bookactivity" class="d-bookactivity"><div class="head">读者动态</div><div class="body"><div id="feed_bookactivity" class="feedcontainer" style="top: 0px;"><div class="item"><div class="name trim"><a href="#" title="共和新街道柳一居委">共和新街道柳一居委</a></div><div class="trends trim">4小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading12515.html" title="经典笑话集" target="_blank">《经典笑话集》</a></div><a class="avatar" href="#"><img src="/File/Images/Predefine/20.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="共和新街道柳一居委">共和新街道柳一居委</a></div><div class="trends trim">4小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading9613.html" title="每日笑一笑" target="_blank">《每日笑一笑》</a></div><a class="avatar" href="#"><img src="/File/Images/Predefine/20.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="共和新街道柳一居委">共和新街道柳一居委</a></div><div class="trends trim">4小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading12482.html" title="必知的中国战争" target="_blank">《必知的中国战争》</a></div><a class="avatar" href="#"><img src="/File/Images/Predefine/20.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="共和新街道柳一居委">共和新街道柳一居委</a></div><div class="trends trim">4小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading12485.html" title="管理七诫" target="_blank">《管理七诫》</a></div><a class="avatar" href="#"><img src="/File/Images/Predefine/20.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="leaf">leaf</a></div><div class="trends trim">4小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading12958.html" title="老行当" target="_blank">《老行当》</a></div><a class="avatar" href="#"><img src="/file/Images/Default/7.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="共和新街道柳一居委">共和新街道柳一居委</a></div><div class="trends trim">4小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading16677.html" title="社交高手的必修课" target="_blank">《社交高手的必修课》</a></div><a class="avatar" href="#"><img src="/File/Images/Predefine/20.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="共和新街道柳一居委">共和新街道柳一居委</a></div><div class="trends trim">4小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading17058.html" title="用心干好每一份工作" target="_blank">《用心干好每一份工作》</a></div><a class="avatar" href="#"><img src="/File/Images/Predefine/20.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007182">cm007182</a></div><div class="trends trim">4小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/95.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007062">cm007062</a></div><div class="trends trim">4小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/15.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007059">cm007059</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/20.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007053">cm007053</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/26.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="leaf">leaf</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading12898.html" title="如何让孩子与未来握手" target="_blank">《如何让孩子与未来握手》</a></div><a class="avatar" href="#"><img src="/file/Images/Default/7.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007171">cm007171</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/89.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007037">cm007037</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/38.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007177">cm007177</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/112.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="共和新街道柳一居委">共和新街道柳一居委</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading4629.html" title="闭上嘴巴更有说服力" target="_blank">《闭上嘴巴更有说服力》</a></div><a class="avatar" href="#"><img src="/File/Images/Predefine/20.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="leaf">leaf</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27802.html" title="环境保护读本" target="_blank">《环境保护读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Default/7.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="leaf">leaf</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading12952.html" title="应用写作方法论" target="_blank">《应用写作方法论》</a></div><a class="avatar" href="#"><img src="/file/Images/Default/7.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007047">cm007047</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/32.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="leaf">leaf</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading17877.html" title="睡眠与健康" target="_blank">《睡眠与健康》</a></div><a class="avatar" href="#"><img src="/file/Images/Default/7.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007005">cm007005</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/108.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007003">cm007003</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/73.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007051">cm007051</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/35.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007004">cm007004</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/74.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#" title="cm007032">cm007032</a></div><div class="trends trim">5小时前 阅读了</div><div class="book trim"><a href="/Reading/Reading27805.html" title="人际交往读本" target="_blank">《人际交往读本》</a></div><a class="avatar" href="#"><img src="/file/Images/Predefine/Icon/35.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div></div></div></div><!-- region end: 读者动态 -->
            </div>
        </div><div class="clear"></div>
    </div>
</div>



