@{
    Layout = null;
    EBook Ebook = ViewBag.Ebook as EBook;
}
<!DOCTYPE html>
<html>
<head>
    <title>在线阅读_@Ebook.Title</title>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        body {
            font-family: "宋体";
            font-size: 12px;
            color: #333;
        }

        a {
            color: #333;
            text-decoration: underline;
        }

            a:hover {
                color: #777;
                text-decoration: underline;
            }

        #top {
            width: 100%;
            height: 100%;
            background: url(/Images/togbg.gif) repeat-x #CCCCCC;
        }

        .bookname {
            float: left;
            padding-left: 10px;
            width: 22%;
            height: 34px;
            line-height: 34px;
        }

        .bookpage {
            float: right;
            height: 40px;
            line-height: 40px;
            margin-right: 10px;
        }

        .alltext {
            float: left;
            height: 40px;
            line-height: 40px;
            margin-left: 10px;
        }

        .bookcont a {
            color: #FF6600;
            padding-left: 12px;
        }

            .bookcont a:hover {
                color: #FF9933;
                padding-left: 12px;
            }

            .bookcont a:visited {
                color: #ff6600;
                padding-left: 12px;
            }

        .booktopright {
            float: right;
            height: 34px;
            line-height: 34px;
        }

        #bookpdf {
            width: 100%;
        }

        iframe {
            border-top-width: 0px;
            border-right-width: 0px;
            border-bottom-width: 0px;
            border-left-width: 0px;
            border-top-style: solid;
            border-right-style: solid;
            border-bottom-style: solid;
            border-left-style: solid;
            width:100%;
        }
    </style>
</head>
<body style="overflow-y:hidden">
    <div id="top">
        <div id="topBar" style="position:fixed;top:0px;width:100%;margin:auto;height:40px;line-height:40px;background:#F0F0F0;z-index:1000;">
            <div class="alltext" id="navigateBar" style="width:20%;">
                <a href="javascript:showMenu();"> </a>&nbsp;
            </div>
            <div style="font-size:20px;width:55%;float:left;text-align:center;margin:auto;height:40px;line-height:40px;z-index:1000;">@Ebook.Title</div>
            <div class="bookpage" style="float:right;margin-right:10px;">
               发布时间：@Ebook.Time
            </div>
        </div>
        <div id="bookpdf">
            <center>
                <div style="width: 10px"></div>
                <div id="imageListDiv">
                    <div id="pdfPageImg">
                       @if (@ViewBag.FileLoad != null)
                       {
                        <iframe src="@ViewBag.FileLoad" height="1000"></iframe>
                       }
                       else
                       {
                        <p>暂无图书</p>
                       }
                    </div>
                </div>
            </center>
        </div>
    </div>
    <div style="text-align:center;margin-left:auto;margin-right:auto;width:800px;">
    </div>
</body>
</html>