@{
    ViewBag.Title = "在线阅读";
}
    <style>
        .b970-a{width:970px; height:103px; margin:5px auto; z-index:2; overflow:hidden;} 
    </style>

<div style="text-align:center;margin-left:auto;margin-right:auto;width:800px">
    <iframe src="@ViewBag.html" height="500" style="width:100%"></iframe>
</div>
