@using QqhrCitizen.Models
@{
    ViewBag.Title = "WordShow";
    Layout = "~/Views/Shared/_Layout.cshtml";
    EBook book = ViewBag.EBook as EBook;

}
<div id="d_menu" class="d-menu menu-bok"><div id="d_menu_c" class="d-menu-c"><!-- region start: menu --><div id="d_headmenu" class="d-headmenu"><div class="body"><a class="item" href="/EBook/Index" id="headmenu_default">悦读首页</a><a class="item" href="/Book/Show" id="headmenu_discovery">发现图书</a><!--<a id="headmenu_bookshelf" class="item" href="/book/bookshelf">我的藏书</a>--></div></div><!-- region end: menu --></div></div>
<div id="d_bottom" class="d-bottom" style="visibility: hidden; position: relative;"><div class="d-bottom-c"><div id="d_scrolltop" class="d-scrolltop" style="right: -70px;"><span class="t" onclick="$(document.body).ScrollTo();">顶部</span></div></div></div>
<div class="d-row" style="padding: 0 0 40px 0;">
    <div class="d-row-c">
        <div class="d-col-2-8">
            <div class="contentarea">
                <!-- region start: 图书详细 -->
                <div id="d_bookdetail" class="d-bookdetail">
                    <div class="title">书名</div>
                    <div class="cover">
                        <img src="书图片路径" style="width: 102px; height: 144px;" onerror="javascript:this.onerror=null;this.src='无封面图书图片'">
                    </div>
                    <div class="info">
                        <div class="author">作者：</div>
                        <div class="publisher">出版社：</div>
                        <div class="year">出版时间：</div>
                        <!--<div class="price">定价：29.00元</div>-->
                        <div class="isbn">ISBN：</div>
                        <div class="readbtn">
                            <a href="/Book/ReadEBook/?bookId=856B5D1BEFDC5ABF&amp;readingId=4ED4B13121C1F262" class="btn btn-small btn-orange" target="_blank">在线阅读</a>
                            <br>
                            <a href="/file/guide/reading/ebook.html" target="_blank">电子书阅读帮助</a>
                        </div>
                    </div>
                    <div class="social">
                        <div class="star" id="divStar">
                            <span class="star star40"></span>
                        </div>
                        <div id="divAmount" class="amount">
                            <a href="#comment">
                                (<span> </span>人评价)
                            </a>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="action">
                        <div class="l" id="divReadbBook">
                            <button type="button" id="btnIR" style="display: none;" class="btn btn-small">在读</button>
                            <button type="button" id="btnHR" style="display: none;" class="btn btn-small">读过</button>
                        </div>
                        <div class="l">
                            <div id="pushStar" class="star-comment" style="margin-top:5px;">
                                <span class="txt">评价：</span>
                                <span class="star star" data-km-star=""></span>
                                <span class="comment">&nbsp;</span>
                                <input type="hidden" name="Level" value="">
                            </div>
                        </div>
                        <div class="r">
                            <span style="display: none;" id="spanAddToList">
                                <a href="#">添加到藏书单</a>
                            </span>
                            <!--							<a href="#">推荐</a>	-->
                            <span class="dropdown">
                                <a href="javascript:;" onclick="km_kb._set($$('d_dropdown_share'),null,function (){});">分享到</a>
                                <div id="d_dropdown_share" class="d-dropdown-share" style="display: none;">
                                    <!--<a class="lexiang" href="#">我的乐享</a>	 -->
                                    <a class="share sina" href="#" data-service="sina">新浪微博</a>
                                    <a class="share qq_t" href="#" data-service="qq_t">腾讯微博</a>
                                    <a class="share douban" href="#" data-service="douban">豆瓣</a>
                                    <a class="share netease" href="#" data-service="netease">网易微博</a>
                                    <a class="share renren" href="#" data-service="renren">人人网</a>
                                    <a class="share kaixin" href="#" data-service="kaixin">开心网</a>
                                    <a class="share sohu" href="#" data-service="sohu">搜狐微博</a>
                                </div>
                            </span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="brief" style="display: block;">
                        <div class="head">内容简介</div>
                        <pre class="area txt-justify">
</pre>
                    </div>
                    <div class="authorbrief" style="display: none;">
                    <div class="head">作者简介</div>
                    <pre class="area txt-justify"></pre>
                    </div>
                <div class="desc" style="display: none;">
                    <div class="head">试读</div>
                    <pre class="area txt-justify"></pre>
                </div>
                </div><!-- region end: 图书详细 --><!-- region start: 喜欢本书的人也喜欢 -->
                <div id="d_booklike" class="d-booklike">
                <div class="head">您可能喜欢的图书</div>
                <div class="body" id="divLike">
                    <div class="item">
                    <a title=" " class="cover" href="/Ebook/WordShow" target="_parent"> 
                        <img style="width:106px;height:158px;" src=" " data-echo=" " onerror="javascript:this.onerror=null;this.src='/file/Images/Default/reading_default_110_164.jpg'">
                        </a> 
                    <div class="title trim">
                        <a title=" " href="/Reading/Reading3466.html" target="_parent"> </a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- region end: 喜欢本书的人也喜欢 -->
                <!-- region start: 图书评论 -->
                <div id="d_bookcomment" class="d-bookcomment">
                    <div class="head">
                        书评
                        <a href="javascript:;" class="btn btn-orange" style="right: 78px;" onclick="CreateReadingReview()">微点评</a>
                        <a href="javascript:;" class="btn btn-orange" style="right: 10px;" onclick="CreateReadingWriter()">微编剧</a>
                        <!--  <a href="javascript:;" class="btn btn-orange" onclick="parent.location.href='/Book/Comment/New/F4F11961286C14EC';">我来评论这本书</a>-->
                    </div>
                    <div class="body">
                        <div class="item">
                            <div class="title trim">好书</div>
                            <div class="name trim"><a href="#">sgyjs </a></div>
                            <div class="review txt-justify">
                                <pre class="preComment">值得一看，内容精彩。
</pre>
                            </div>
                            <div class="info">2015-06-24 16:25</div>
                            <a class="cover" href="#">
                                <img src="/File/Images/Predefine/icon/115.jpg" class="imgMemberPic" data-echo="/File/Images/Predefine/icon/115.jpg" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'">
                            </a>
                        </div>
                        <div class="item">
                            <div class="title trim">当众拥抱你的敌人</div>
                            <div class="name trim"><a href="#">童玉兰</a></div>
                            <div class="review txt-justify">
                                <pre class="preComment">“搬走别人脚下的一块石头，等于给自己打开了一条成功的捷径。”事实的确如此，当今社会的各个领域都充满了竞争，如果我们在自己失败的时候，还能当众给敌人拥抱和掌声，这已是一种难得的成功。教我们面对我们敌人时，如何对付的办法。</pre>
                            </div>
                            <div class="info">2015-06-24 13:00</div>
                            <a class="cover" href="#">
                                <img src="/file/Images/Predefine/Icon/91.jpg" class="imgMemberPic" data-echo="/file/Images/Predefine/Icon/91.jpg" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'">
                            </a>
                        </div>
                        <div class="item">
                            <div class="title trim">读后感</div>
                            <div class="name trim"><a href="#">jssh_12</a></div>
                            <div class="review txt-justify">
                                <pre class="preComment">有位哲人曾说：“搬走别人脚下的一块石头，等于给自己打开了一条成功的捷径。”事实的确如此，当今社会的各个领域都充满了竞争，如果我们在自己失败的时候，还能当众给敌人拥抱和掌声，这已是一种难得的成功。这部书籍向我们反映了一个人内心真正的想法</pre>
                            </div>
                            <div class="info">2015-06-23 14:18</div>
                            <a class="cover" href="#">
                                <img src="/File/Images/Predefine/10.jpg" class="imgMemberPic" data-echo="/File/Images/Predefine/10.jpg" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'">
                            </a>
                        </div>
                        <div class="item">
                            <div class="title trim">令人感慨</div>
                            <div class="name trim"><a href="#">jssh_13</a></div>
                            <div class="review txt-justify">
                                <pre class="preComment">有位哲人曾说：“搬走别人脚下的一块石头，等于给自己打开了一条成功的捷径。”事实的确如此，当今社会的各个领域都充满了竞争，如果我们在自己失败的时候，还能当众给敌人拥抱和掌声，这已是一种难得的成功。《当众拥抱你的敌人：改变命运的9堂人生课》从第一堂课“用爱回报生活中的磨难”说起，以许多睿智的小故事论述了宽容、自信、珍惜、积极、信念的重要性。每一个观点都充满了启发性，每一课都值得细细品味。它将会使你爱得更加博大深沉，活得更加充满激情，让你更有信心去追求梦想和憧憬生活。在面临挑战、遭遇强敌，受到挫折和感到无望之时给你力量，在惶惑、痛苦和失落之际给你慰籍。这些历经世事菁华沉淀的人生哲理，不仅让你受益无穷，更足以改变你的一生。</pre>
                            </div>
                            <div class="info">2015-06-23 14:17</div>
                            <a class="cover" href="#">
                                <img src="/File/Images/Predefine/11.jpg" class="imgMemberPic" data-echo="/File/Images/Predefine/11.jpg" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'">
                            </a>
                        </div>
                        <div class="item">
                            <div class="title trim">《当众拥抱你的敌人》有感</div>
                            <div class="name trim"><a href="#">gjjj2</a></div>
                            <div class="review txt-justify">
                                <pre class="preComment">当众拥抱敌人这个动作一旦做了出来，做久了就会成为习惯，让你和他们相处时，能容天下人、天下物，出入无碍，进退自如，这正是成就在事业的本钱。</pre>
                            </div>
                            <div class="info">2015-06-23 10:27</div>
                            <a class="cover" href="#">
                                <img src="/file/Images/Predefine/Icon/17.jpg" class="imgMemberPic" data-echo="/file/Images/Predefine/Icon/17.jpg" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'">
                            </a>
                        </div>
                        <div class="item">
                            <div class="title trim">点评</div>
                            <div class="name trim"><a href="#">许儒金</a></div>
                            <div class="review txt-justify">
                                <pre class="preComment"> 在竞争日趋激烈的现代社会，身处社会中的每一个人都面临各种竞争和挑战。此书讲述的都是朴实的真理而不是奢华的辞藻，高姿态的说教，书中的9堂人生课，每一课都是在总结前人的经验和教训的基础上得来的。在阅读过程中，可以为我点燃自己的心灯。</pre>
                            </div>
                            <div class="info">2015-06-23 09:51</div>
                            <a class="cover" href="#">
                                <img src="/file/Images/Predefine/Icon/42.jpg" class="imgMemberPic" data-echo="/file/Images/Predefine/Icon/42.jpg" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'">
                            </a>
                        </div>
                        <div class="item">
                            <div class="title trim">当众拥抱你的敌人</div>
                            <div class="name trim"><a href="#">赵荣123</a></div>
                            <div class="review txt-justify">
                                <pre class="preComment">本书告诉你，以许多睿智的小故事论述了宽容、自信、珍惜、积极、信念的重要性。每一个观点都充满了启发性，每一课都值得细细品味。它将会使你爱得更加博大深沉，活得更加充满激情，让你更有信心去追求梦想和憧憬生活。在面临挑战、遭遇强敌，受到挫折和感到无望之时给你力量，在惶惑、痛苦和失落之际给你慰籍。</pre>
                            </div>
                            <div class="info">2015-06-21 18:35</div>
                            <a class="cover" href="#">
                                <img src="/file/Images/Predefine/Icon/124.jpg" class="imgMemberPic" data-echo="/file/Images/Predefine/Icon/124.jpg" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'">
                            </a>
                        </div>
                        <div class="item">
                            <div class="title trim">当众拥抱你的敌人</div>
                            <div class="name trim"><a href="#">yangyidian</a></div>
                            <div class="review txt-justify">
                                <pre class="preComment">这本书以许多睿智的小故事论述了宽容、自信、珍惜、积极、信念的重要性，让我得到了深刻的启发，让我更有信心去追求梦想和憧憬生活。这些历经世事菁华沉淀的人生哲理，让我受益匪浅。</pre>
                            </div>
                            <div class="info">2015-06-18 15:37</div>
                            <a class="cover" href="#">
                                <img src="/file/Images/Default/member_default_120_120.jpg" class="imgMemberPic" data-echo="" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'">
                            </a>
                        </div>
                        <div class="item">
                            <div class="title trim">可怕的不是真坏人而是假好人</div>
                            <div class="name trim"><a href="#">吴松龙</a></div>
                            <div class="review txt-justify">
                                <pre class="preComment">有位哲人曾说：“搬走别人脚下的一块石头，等于给自己打开了一条成功的捷径。”事实的确如此，当今社会的各个领域都充满了竞争，如果我们在自己失败的时候，还能当众给敌人拥抱和掌声，这已是一种难得的成功。《当众拥抱你的敌人：改变命运的9堂人生课》从第一堂课“用爱回报生活中的磨难”说起，以许多睿智的小故事论述了宽容、自信、珍惜、积极、信念的重要性。每一个观点都充满了启发性，每一课都值得细细品味。它将会使你爱得更加博大深沉，活得更加充满激情，让你更有信心去追求梦想和憧憬生活。在面临挑战、遭遇强敌，受到挫折和感到无望之时给你力量，在惶惑、痛苦和失落之际给你慰籍。这些历经世事菁华沉淀的人生哲理，不仅让你受益无穷，更足以改变你的一生。作者简介
试读</pre>
                            </div>
                            <div class="info">2015-06-17 10:05</div>
                            <a class="cover" href="#">
                                <img src="/File/Images/Predefine/icon/121.jpg" class="imgMemberPic" data-echo="/File/Images/Predefine/icon/121.jpg" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'">
                            </a>
                        </div>
                        <div class="item">
                            <div class="title trim">当众拥抱你的敌人</div>
                            <div class="name trim"><a href="#">272122264</a></div>
                            <div class="review txt-justify">
                                <pre class="preComment">《当众拥抱你的敌人》以许多睿智的小故事论述了宽容、自信、珍惜、积极、信念的重要性。每一个观点都充满了启发性，每一课都值得细细品味。它将会使你爱得更加博大深沉，活得更加充满激情，让你更有信心去追求梦想和憧憬生活。</pre>
                            </div>
                            <div class="info">2015-06-16 18:59</div>
                            <a class="cover" href="#">
                                <img src="/file/Images/Default/member_default_120_120.jpg" class="imgMemberPic" data-echo="" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'">
                            </a>
                        </div>
                        <div id="d_pagination" class="pagination" style="display: block;"><span>共 495 条记录</span><a href="javascript:;" class="s">1</a><a href="javascript:;" class="c" onclick="km_pageno.gopage(2,1,50)">2</a><a href="javascript:;" class="c" onclick="km_pageno.gopage(3,1,50)">3</a><a href="javascript:;" class="c" onclick="km_pageno.gopage(4,1,50)">4</a><a href="javascript:;" class="c" onclick="km_pageno.gopage(5,1,50)">5</a><a href="javascript:;" class="c" onclick="km_pageno.gopage(6,1,50)">6</a><a href="javascript:;" class="c" onclick="km_pageno.gopage(7,1,50)">7</a><a href="javascript:;" class="c" onclick="km_pageno.gopage(8,1,50)">8</a><a href="javascript:;" class="c" onclick="km_pageno.gopage(9,1,50)">9</a><a href="javascript:;" class="c" onclick="km_pageno.gopage(10,1,50)">10</a><a href="javascript:;" class="c" onclick="km_pageno.gopage(2,1,50)">下一页 <i class="icon-angle-right"></i></a><span>跳转到第</span>&nbsp;<input id="int_pageno" type="text" style="width:20px;" class="int" maxlength="5">&nbsp;<span>页</span>&nbsp;<button type="button" class="btn" style="padding-left:2px;padding-right:2px;" onclick="km_pageno.gopage($('#int_pageno').val(),1,50)">Go</button></div>


                    </div>
                </div>
                <!-- region end: 图书评论 -->
            </div>
        </div><div class="d-col-2-4">
            <div class="contentarea">
                <!-- region start: ad1 --><div id="d_ad_book_bookdetail_1" class="d-ad-323x264" style="padding: 20px 0 0 0;" data-km-url="/Book/AdInBookDetail"><iframe id="frm_ad_book_bookdetail_1" name="frm_ad_book_bookdetail_1" scrolling="no" width="100%" height="1" src="/Book/AdInBookDetail" style="border: none; visibility: visible; width: 100%; height: 1px; min-height: 1px;"></iframe></div><!-- region end: ad1 --><!-- region start: 相关标签 --><div id="d_booktagrelated" class="d-booktagrelated">
                    <div class="head">相关标签</div><div class="body">
                        <span class="item"><a href="/Book/Find/?parms=D374021AC4C0AED2">哲学</a><span></span></span><span class="item"><a href="/Book/Find/?parms=7BBEEEC2B112DB71">心理学</a><span></span></span>
                        <!-- <div class="item"><a href="#">追风筝的人</a><span>(3248)</span>							</div>
                        <div class="item"><a href="#">阿富汗</a><span>(2776)</span>							</div>
                        <div class="item"><a href="#">小说</a><span>(1957)</span>							</div>
                        <div class="item"><a href="#">人性</a><span>(1791)</span>							</div>
                        <div class="item"><a href="#">救赎</a><span>(1692)</span>							</div>
                        <div class="item"><a href="#">卡勒德·胡赛尼</a><span>(1532)</span>							</div>
                        <div class="item"><a href="#">外国文学</a><span>(1249)</span>							</div>
                        <div class="item"><a href="#">外国小说</a><span>(530)</span>							</div>-->
                    </div>
                </div><!-- region end: 相关标签 --><!-- region start: 相关推荐 --><!-- region end: 相关推荐 --><!-- region start: 也读过这本书 --><div id="d_bookread" class="d-bookread"><div class="head">读书动态</div><div class="body" id="divRecordList"><div class="item"><div class="name trim"><a href="#">Miss咯咯</a></div><div class="status trim">7小时前 读过本书</div><a class="cover" href="#"><img src="/File/Images/Predefine/24.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#">yxsxl004</a></div><div class="status trim">1天前 读过本书</div><a class="cover" href="#"><img src="/File/Images/Predefine/icon/78.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#">xhcq01002241renyu</a></div><div class="status trim">1天前 读过本书</div><a class="cover" href="#"><img src="/File/Images/Predefine/icon/31.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#">liyong1234</a></div><div class="status trim">1天前 读过本书</div><a class="cover" href="#"><img src="/File/Images/Predefine/icon/54.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div><div class="item"><div class="name trim"><a href="#">彭赵村李吉</a></div><div class="status trim">1天前 读过本书</div><a class="cover" href="#"><img src="/File/Images/Predefine/icon/57.jpg" style="width:48px;height:48px;" onerror="javascript:this.onerror=null;this.src='/file/Images/Default/member_default_120_120.jpg'"></a></div></div></div><!-- region end: 也读过这本书 -->
            </div>
        </div><div class="clear"></div>
    </div>
</div>