@using QqhrCitizen.Models;
@{
    User user = ViewBag.Currentuser as User;
}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>市民学习网 - 后台管理</title>
    <link href="~/Styles/common.css" rel="stylesheet" />
    <link href="~/Styles/admin.css" rel="stylesheet" />
    <link href="~/Styles/citizen.css" rel="stylesheet" />
    <link href="~/Styles/datetimepicker.css" rel="stylesheet" />

    <link href="~/Styles/spectrum.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>

    <script src="~/Scripts/qqhrcitizen.base.js"></script>
    <script src="~/Scripts/citizen.admin.js"></script>
    <script src="~/Scripts/jquery.datetimepicker.js"></script>
    <script src="~/Scripts/spectrum.js"></script>
    <script src="~/Scripts/codecomb.cascade-1.0.3.min.js"></script>
</head>
<body>
    <div class="topbar-wrap white">
        <div class="topbar-inner clearfix">
            <div class="topbar-logo-wrap clearfix">
                <h1 class="topbar-logo none"><a href="#" class="navbar-brand">后台管理</a></h1>
                <ul class="navbar-list clearfix">
                    <li><a class="on" href="/Admin/Index">首页</a></li>
                    <li><a href="/Home/Index" target="_blank">网站首页</a></li>
                </ul>
            </div>
            <div class="top-info-wrap">
                @if (user != null)
                {
                    <ul class="top-info-list clearfix">
                        <li><a href="/User/Show/@user.ID">@user.Username</a></li>
                        <li><a href="/User/PwdEdit/@user.ID">修改密码</a></li>
                        <li><a href="/User/Logout?sid=@ViewBag.SID">退出</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container clearfix">
        <div class="sidebar-wrap">
            <div class="sidebar-title">
                <h1>菜单</h1>
            </div>
            <div class="sidebar-content">
                <ul class="sidebar-list">

                    @if (user.Role == Role.Admin || user.Role == Role.NewsManager)
                    {
                        <li>
                            <a id="New_Manager" style="cursor:pointer"><i class="icon-font">&#xe001;</i>新闻管理</a>
                            <ul class="sub-menu" id="new_manager_ul" style="display:none">
                                <li><a href="/Admin/NewsManager"><i class="icon-font">&#xe017;</i>新闻管理</a></li>
                                <li><a href="/Admin/AddNews"><i class="icon-font">&#xe026;</i>增加新闻</a></li>
                                <li><a href="/Admin/TypeManager?type=0"><i class="icon-font">&#xe018;</i>分类管理</a></li>
                            </ul>
                        </li>
                        <script>
                            $("#New_Manager").click(function () {
                                if ($("#new_manager_ul").css("display") == "none") {
                                    $("#new_manager_ul").show();
                                }
                                else {
                                    $("#new_manager_ul").hide();
                                }
                            });
                        </script>
                    }
                    @if (user.Role == Role.Admin || user.Role == Role.CourseManager)
                    {
                        <li>
                            <a id="Course_Manager" style="cursor:pointer"><i class="icon-font">&#xe032;</i>课程管理</a>
                            <ul id="course_manager_ul" class="sub-menu" style="display:none">
                                <li><a href="/Admin/CourseManager"><i class="icon-font">&#xe017;</i>课程管理</a></li>
                                <li><a href="/Admin/AddCourse"><i class="icon-font">&#xe026;</i>增加课程</a></li>
                                <li><a href="/Admin/TypeManager?type=4"><i class="icon-font">&#xe018;</i>分类管理</a></li>
                            </ul>
                        </li>
                        <script>
                            $("#Course_Manager").click(function () {
                                if ($("#course_manager_ul").css("display") == "none") {
                                    $("#course_manager_ul").show();
                                }
                                else {
                                    $("#course_manager_ul").hide();
                                }
                            });
                        </script>
                    }
                    @if (user.Role == Role.Admin || user.Role == Role.EBookManager)
                    {
                        <li>
                            <a id="Ebook_Manager" style="cursor:pointer"><i class="icon-font">&#xe006;</i>电子书管理</a>
                            <ul class="sub-menu" id="ebook_manager_ul" style="display:none">
                                <li><a href="/Admin/EBookManager"><i class="icon-font">&#xe032;</i>电子书管理</a></li>
                                <li><a href="/Admin/AddEBook"><i class="icon-font">&#xe026;</i>增加电子书</a></li>
                                <li><a href="/Admin/TypeManager?type=3"><i class="icon-font">&#xe018;</i>分类管理</a></li>
                            </ul>
                        </li>
                        <script>
                            $("#Ebook_Manager").click(function () {
                                if ($("#ebook_manager_ul").css("display") == "none") {
                                    $("#ebook_manager_ul").show();
                                }
                                else {
                                    $("#ebook_manager_ul").hide();
                                }
                            });
                        </script>
                    }
                    @if (user.Role == Role.Admin || user.Role == Role.LinkManager)
                    {
                        <li>
                            <a id="Live_Manager" style="cursor:pointer"><i class="icon-font">&#xe044;</i>直播管理</a>
                            <ul class="sub-menu" id="live_manager_ul" style="display:none">
                                <li><a href="/Admin/LiveManager"><i class="icon-font">&#xe017;</i>直播管理</a></li>
                                <li><a href="/Admin/AddLive"><i class="icon-font">&#xe026;</i>增加直播</a></li>
                            </ul>
                        </li>
                        <script>
                            $("#Live_Manager").click(function () {
                                if ($("#live_manager_ul").css("display") == "none") {
                                    $("#live_manager_ul").show();
                                }
                                else {
                                    $("#live_manager_ul").hide();
                                }
                            });
                        </script>
                    }
                    @if (user.Role == Role.Admin)
                    {
                        <li>
                            <a id="Live_Memu" style="cursor:pointer"><i class="icon-font">&#xe044;</i>频道管理</a>
                            <ul class="sub-menu" id="menu_manager_ul" style="display:none">
                                <li><a href="/Admin/MenuManager"><i class="icon-font">&#xe017;</i>频道管理</a></li>
                                <li><a href="/Admin/AddMenu"><i class="icon-font">&#xe026;</i>增加频道</a></li>
                            </ul>
                        </li>
                        <script>
                            $("#Live_Memu").click(function () {
                                if ($("#menu_manager_ul").css("display") == "none") {
                                    $("#menu_manager_ul").show();
                                }
                                else {
                                    $("#menu_manager_ul").hide();
                                }
                            });
                        </script>
                    }
                    @if (user.Role == Role.Admin || user.Role == Role.LinkManager)
                    {
                        <li>
                            <a id="Link_Manager" style="cursor:pointer"><i class="icon-font">&#xe009;</i>资源链接</a>
                            <ul class="sub-menu" id="link_manager_ul" style="display:none">
                                <li><a href="/Admin/LinkManager"><i class="icon-font">&#xe017;</i>链接管理</a></li>
                                <li><a href="/Admin/AddLink"><i class="icon-font">&#xe026;</i>增加链接</a></li>
                                <li><a href="/Admin/TypeManager?type=2"><i class="icon-font">&#xe018;</i>分类管理</a></li>
                            </ul>
                        </li>
                        <script>
                            $("#Link_Manager").click(function () {
                                if ($("#link_manager_ul").css("display") == "none") {
                                    $("#link_manager_ul").show();
                                }
                                else {
                                    $("#link_manager_ul").hide();
                                }
                            });
                        </script>
                    }
                    @if (user.Role == Role.Admin || user.Role == Role.Business)
                    {
                        <li>
                            <a id="Product_Manager" style="cursor:pointer"><i class="icon-font">&#xe040;</i>市民生活管理</a>
                            <ul class="sub-menu" id="product_manager_ul" style="display:none">
                                <li><a href="/Admin/AddProduct"><i class="icon-font">&#xe026;</i>增加产品</a></li>
                                <li><a href="/Admin/AddWork"><i class="icon-font">&#xe026;</i>增加作品</a></li>
                                @if (user.Role == Role.Admin)
                                {
                                    <li><a href="/Admin/ProductManager"><i class="icon-font">&#xe017;</i>市民生活管理</a></li>
                                    <li><a href="/Admin/UserProductInfo"><i class="icon-font">&#xe017;</i>用户申请修改</a></li>
                                    <li><a href="/Admin/ProductCategoryManager"><i class="icon-font">&#xe017;</i>分类管理</a></li>
                                }
                                @if (user.Role == Role.Business)
                                {
                                    <li><a href="/Admin/UserProductManager"><i class="icon-font">&#xe017;</i>市民生活管理</a></li>
                                }
                            </ul>
                        </li>
                        <script>
                            $("#Product_Manager").click(function () {
                                if ($("#product_manager_ul").css("display") == "none") {
                                    $("#product_manager_ul").show();
                                }
                                else {
                                    $("#product_manager_ul").hide();
                                }
                            });
                        </script>
                    }
                    @if (user.Role == Role.Admin)
                    {

                        <li>
                            <a id="ITrial_Manager" style="cursor:pointer"><i class="icon-font">&#xe021;</i>I实验管理</a>
                            <ul class="sub-menu" id="itrial_manager_ul" style="display:none">
                                <li><a href="/Admin/ITrialManager"><i class="icon-font">&#xe022;</i>I实验管理</a></li>
                                <li><a href="/Admin/AddITrial"><i class="icon-font">&#xe026;</i>增加I实验</a></li>
                            </ul>
                        </li>
                        <script>
                            $("#ITrial_Manager").click(function () {
                                if ($("#itrial_manager_ul").css("display") == "none") {
                                    $("#itrial_manager_ul").show();
                                }
                                else {
                                    $("#itrial_manager_ul").hide();
                                }
                            });
                        </script>
                    }
                    @if (user.Role == Role.Admin)
                    {

                        <li>
                            <a id="Viwepager_Manager" style="cursor:pointer"><i class="icon-font">&#xe031;</i>轮播管理</a>
                            <ul class="sub-menu" id="viwepager_manager_ul" style="display:none">
                                <li><a href="/Admin/ViwepagerManager"><i class="icon-font">&#xe017;</i>轮播管理</a></li>
                                <li><a href="/Admin/AddViwepager"><i class="icon-font">&#xe026;</i>增加轮播</a></li>
                            </ul>
                        </li>
                        <script>
                            $("#Viwepager_Manager").click(function () {
                                if ($("#viwepager_manager_ul").css("display") == "none") {
                                    $("#viwepager_manager_ul").show();
                                }
                                else {
                                    $("#viwepager_manager_ul").hide();
                                }
                            });
                        </script>
                    }
                    @if (user.Role == Role.Admin)
                    {

                        <li>
                            <a id="Navigation_Manager" style="cursor:pointer"><i class="icon-font">&#xe060;</i>导航管理</a>
                            <ul class="sub-menu" id="navigation_manager_ul" style="display:none">
                                <li><a href="/Admin/NavigationManager"><i class="icon-font">&#xe017;</i>导航管理</a></li>
                                <li><a href="/Admin/AddNavigation"><i class="icon-font">&#xe026;</i>增加导航</a></li>
                            </ul>
                        </li>
                        <script>
                            $("#Navigation_Manager").click(function () {
                                if ($("#navigation_manager_ul").css("display") == "none") {
                                    $("#navigation_manager_ul").show();
                                }
                                else {
                                    $("#navigation_manager_ul").hide();
                                }
                            });
                        </script>
                    }
                    @if (user.Role == Role.Admin)
                    {

                        <li>
                            <a id="Joke_Manager" style="cursor:pointer"><i class="icon-font">&#xe038;</i>笑话管理</a>
                            <ul class="sub-menu" id="joke_manager_ul" style="display:none">
                                <li><a href="/Admin/JokeManager"><i class="icon-font">&#xe039;</i>笑话管理</a></li>
                                <li><a href="/Admin/AddJoke"><i class="icon-font">&#xe026;</i>增加笑话</a></li>
                            </ul>
                        </li>
                        <script>
                            $("#Joke_Manager").click(function () {
                                if ($("#joke_manager_ul").css("display") == "none") {
                                    $("#joke_manager_ul").show();
                                }
                                else {
                                    $("#joke_manager_ul").hide();
                                }
                            });
                        </script>
                    }
                    @if (user.Role == Role.Admin)
                    {
                        <li>
                            <a id="Spider_Manage" style="cursor:pointer"><i class="icon-font">&#xe057;</i>爬虫管理 (@ViewBag.SpiderCount)</a>
                            <ul class="sub-menu" id="spider_manage_ul" style="display:none">
                                <li><a href="/Admin/Spider"><i class="icon-font">&#xe014;</i>爬虫新闻审核</a></li>
                            </ul>
                        </li>
                        <script>
                            $("#Spider_Manage").click(function () {
                                if ($("#spider_manage_ul").css("display") == "none") {
                                    $("#spider_manage_ul").show();
                                }
                                else {
                                    $("#spider_manage_ul").hide();
                                }
                            });
                        </script>
                    }
                    @if (user.Role == Role.Admin)
                    {

                        <li>
                            <a id="Manager_Manager" style="cursor:pointer"><i class="icon-font">&#xe057;</i>系统设置</a>
                            <ul class="sub-menu" id="manager_manager_ul" style="display:none">
                                <li><a href="/Admin/ManagerManage"><i class="icon-font">&#xe014;</i>管理员管理</a></li>
                                <li><a href="/Admin/AddManager"><i class="icon-font">&#xe018;</i>增加管理员</a></li>
                            </ul>
                        </li>
                        <script>
                            $("#Manager_Manager").click(function () {
                                if ($("#manager_manager_ul").css("display") == "none") {
                                    $("#manager_manager_ul").show();
                                }
                                else {
                                    $("#manager_manager_ul").hide();
                                }
                            });
                        </script>
                    }
                </ul>
            </div>
        </div>
        <!--/sidebar-->

        <div class="main-wrap">
            <div class="result-wrap">
                <div class="result-title">
                    <h1>快捷操作</h1>
                </div>
                <div class="result-content">
                    <div class="short-wrap">
                    </div>
                </div>
            </div>
            <div class="result-wrap">
                @RenderBody()
            </div>
        </div>
        <!--/main-->
    </div>
</body>
</html>