@{
    Layout = null;
}

<!DOCTYPE html>

<!-- saved from url=(0036)http://www.shlll.net/main/index.html -->
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
    <title>齐齐哈尔市民学习网</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="baidu-site-verification" content="KYHhX2qdFr">
    <link href="~/Styles/citizen.css" rel="stylesheet" media="screen">
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/flproto0.1.0.js"></script>
    <script src="~/Scripts/proto.js"></script>
    <!--[if lt IE 8]><script src="http://res.shlll.net/vendor/ie7-2.1-beta4/src/IE8.js"></script><![endif]-->
    <script src="~/Scripts/ss"></script>
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <script src="~/Scripts/spin.min.js"></script>
    <style type="text/css"></style>
    <!--<script src="http://res.shlll.net/vendor/ifvisible/src/ifvisible.js"></script>-->
    <script src="~/Scripts/km_adtran.js"></script>
    <script src="~/Scripts/home.default_v1_01s.js"></script>
    <style>
        .avatar img {
            width: 48px;
            height: 48px;
        }
    </style>
</head>
<body class="home__default_v1_01">
    <div id="d_main" class="d-main" style="min-width: 1000px;">
        <div class="container">
            <div id="d_top" class="d-top">
                <div id="d_top_c" class="d-top-c">
                    <!-- region start: top --><div id="d_topmenu" class="d-topmenu">
                        <div class="d-top-nav">
                            <div class="body">

                            </div>
                        </div>
                        <div class="d-top-weather">
                            <div class="body">
                                <span class="txt" id="span_weather">上海 24 ~ 20℃</span>
                            </div>
                        </div>
                        <div id="d_top_sign" class="d-top-sign">
                            <div class="body">
                                <span class="txt">欢迎来到齐齐哈尔市民学习网</span>
                                <a class="item" href="/User/Login" target="_self">登录</a>
                                <a class="item last" href="/User/Register" target="_self">注册</a>
                            </div>
                        </div><div class="clear"></div>
                    </div><!-- region end: top -->
                </div>
            </div><div id="d_header" class="d-header">
                <div id="d_header_c" class="d-header-c">
                    <!-- region start: header --><div id="d_headerhome" class="d-headerhome">
                        <a class="d-logo" href="http://www.shlll.net/">
                            <div class="ver" style="left: 900px; top: 65px; text-align: right;display:none;">Beta 2014</div>
                        </a>
                        <div class="d-search" style="width: 550px; background-color: #fff;">
                            <input id="__int_entry" type="text" value="" placeholder="课程、图书、资讯" maxlength="30" autocomplete="off" autocorrect="off" autocapitalize="off" name="entry_selitem_list_pg">
                            <span class="site-search header-search" id="home_search" style="left: 348px; border-left: none;">站内搜索</span>
                            <input type="hidden" id="__int_entry_uid" name="entry_selitem_pg">
                        </div>
                        <script>
                            $(function(){

                                $('#home_search').on('click', function(){
                                    var _kw = $.trim($('#__int_entry').val());
                                    if (_kw == ''){
                                        Alert('请输入搜索内容');
                                        return false;
                                    }
                                    var reg = new RegExp('^[^@@\/\\#$%&\^\*\<\>]+$');
                                    if (!reg.test(_kw)) {
                                        Alert('搜索的内容不能输入特殊字符 ^ @@ / \ # $ % & * < >');
                                        return false;
                                    }
                                    //window.open = '/ContentQuery/Search?action=btnSearch&SearchType=-1&Search=' + encodeURIComponent(_kw);
                                    window.open('/ContentQuery/Search?action=btnSearch&SearchType=-1&Search=' + encodeURIComponent(_kw));
                                });

                                $('#baidu_search').on('click', function(){
                                    var _kw = $.trim($('#__int_entry').val());
                                    if (_kw == ''){
                                        Alert('请输入搜索内容');
                                        return false;
                                    }
                                    var reg = new RegExp('^[^@@\/\\#$%&\^\*\<\>]+$');
                                    if (!reg.test(_kw)) {
                                        Alert('搜索的内容不能输入特殊字符 ^ @@ / \ # $ % & * < >');
                                        return false;
                                    }
                                    //window.open = '/home/redirects?kw=' + encodeURIComponent(_kw);
                                    window.open('/home/redirects?kw=' + encodeURIComponent(_kw));
                                });
                            });
                        </script>
                    </div><!-- region end: header -->
                </div>
            </div><div id="d_menu" class="d-menu menu-home">
                <div id="d_menu_c" class="d-menu-c">
                    <!-- region start: menu --><div id="d_headmenu" class="d-headmenu">
                        <div class="body">
                            <a class="item" href="http://www.shlll.net/">首页</a>
                            <a class="item" href="http://course.shlll.net/">新闻</a>
                            <a class="item" href="http://act.shlll.net/">课程</a>
                            <a class="item" href="http://read.shlll.net/">图书</a>
                            <a class="item" href="http://group.shlll.net/">直播</a>
                        </div>
                    </div><!-- region end: menu -->
                </div>
            </div><div id="d_menusub" class="d-menusub">
                <div id="d_menusub_c" class="d-menusub-c">
                    <!-- region start: menusub --><div class="d-headmenusub">
                        <div class="body channel">
                            <div class="lab">频道</div>
                            <div class="box">
                                <span class="item hot">
                                    <a href="javascript:;" data-href="http://photo.shlll.net/" target="_blank">摄影</a>
                                </span>
                                <span class="item hot">
                                    <a href="javascript:;" data-href="http://course.shlll.net/english/index" target="_blank">英语</a>
                                </span>
                                <span class="item">
                                    <a href="javascript:;" data-href="http://renwen.shlll.net/" target="_blank">人文</a>
                                </span>
                            </div>
                        </div><div class="body w2">
                            <div class="lab">社区</div>
                            <div class="box">
                            </div>
                        </div><div class="clear"></div>
                    </div><!-- region end: menusub -->
                </div>
            </div><div id="d_bottom" class="d-bottom" style="visibility: hidden; position: relative;"><div class="d-bottom-c"><div id="d_scrolltop" class="d-scrolltop" style="right: -70px;"><span class="exp" onclick="km_st.expend()">&nbsp;</span><span>课程</span><span>活动</span><span>悦读</span><span>团队</span><span class="t" onclick="$(document.body).ScrollTo();">顶部</span></div></div></div><div style="background: #000; position: relative; background: url(/file/video/video_wrapper_bg.gif) repeat-x;"><div id="wrapper" style="width: 802px; margin: 0 auto; position: relative; display: none; padding-top: 20px; height: 471px;"><div id="v_c" style="position: absolute; right: -90px; top: 20px; display: none;"><a href="javascript:;" id="v_close">关闭</a><p><input type="checkbox" id="v_never" style="margin: 0; padding: 0; height: 13px;"><label for="v_never" style="color: #f2f2f2; font-size: 14px;">&nbsp;不再显示</label></p></div><div id="videoWrapper"></div></div></div><div id="d_banner" class="d-banner" style="background-color: rgb(42, 145, 212);">
                <ul id="d_homebanner" class="d-homebanner" style="display: block;"><li id="bb1" style="z-index: 9; display: block; background-color: rgb(42, 145, 212);"><a href="http://wk.shlll.net/" target="_blank" style="background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/6/8/m/201506080930030132.jpg);"><p class="t" style="display: none;"></p><p class="h" style="color: rgb(255, 255, 255);">社区教育</p><p class="p" style="color: rgb(255, 255, 255);">第二届上海社区教育教学评比活动</p></a></li><li id="bb2" style="z-index: 9; display: block; background-color: rgb(219, 170, 85);"><a href="http://news.shlll.net/News/News1194.html" target="_blank" style="background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/6/17/m/201506171354498753.jpg);"><p class="t" style="display: none;"></p><p class="h" style="color: rgb(255, 255, 255);">上海市民诗歌节徽标征集</p><p class="p" style="color: rgb(255, 255, 255);">上海市民诗歌节</p></a></li><li id="bb3" style="z-index: 9; display: block; background-color: rgb(207, 180, 115);"><a href="http://act.shlll.net/read/home" target="_blank" style="background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/4/21/m/201504211752250361.jpg);"><p class="t" style="display: none;"></p><p class="h" style="color: rgb(255, 255, 255);">弘扬传统文化，营造书香社区</p><p class="p" style="color: rgb(255, 255, 255);">第5届上海社区网上读书活动</p></a></li><li id="bb4" style="z-index: 9; display: block; background-color: rgb(215, 205, 191);"><a href="http://shige.shlll.net/" target="_blank" style="background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/4/28/m/201504281459086481.jpg);"><p class="t" style="display: none;"></p><p class="h" style="color: rgb(255, 255, 255);">暨第9届上海市民诗歌创作大赛</p><p class="p" style="color: rgb(255, 255, 255);"></p></a></li><li id="bb5" style="z-index: 9; display: block; background-color: rgb(117, 158, 45);"><a href="http://www.shlll.net/special/earth" target="_blank" style="background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/5/19/m/201505191727598100.jpg);"><p class="t" style="display: none;"></p><p class="h" style="color: rgb(255, 255, 255);">童心绘梦 小手护绿</p><p class="p" style="color: rgb(255, 255, 255);">2015宜居地球全国少儿环保创意大赛</p></a></li><li id="bb6" style="z-index: 9; display: block; background-color: rgb(1, 139, 80);"><a href="http://act.shlll.net/Activities/Activities136.html" target="_blank" style="background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/4/21/m/201504211750366159.jpg);"><p class="t" style="display: none;"></p><p class="h" style="color: rgb(255, 255, 255);">悦读城市 融入上海</p><p class="p" style="color: rgb(255, 255, 255);">上海市进城务工人员读书活动</p></a></li><li id="bb7" style="z-index: 9; display: block; background-color: rgb(191, 14, 6);"><a href="http://act.shlll.net/Activities/Activities135.html" target="_blank" style="background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/4/21/m/201504211748570098.jpg);"><p class="t" style="display: none;"></p><p class="h" style="color: rgb(255, 255, 255);">放飞我的中国梦</p><p class="p" style="color: rgb(255, 255, 255);">上海开放大学2015主题读书节活动</p></a></li><li id="bb8" style="z-index: 9; display: block; background-color: rgb(0, 0, 0);"><a href="http://photo.shlll.net/activityshow.html?id=50" target="_blank" style="background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/3/20/m/201503201353090083.jpg);"><p class="t" style="display: none;"></p><p class="h" style="color: rgb(255, 255, 255);">上海学习网摄影圈网上评比展示活动</p><p class="p" style="color: rgb(255, 255, 255);">最佳摄影圈子、最佳摄影成员、最佳摄影作品网上评比展示活动</p></a></li><li id="bb9" style="z-index: 10; display: block; background-color: rgb(202, 188, 162);"><a href="http://tuku.shlll.net/" target="_blank" style="background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/3/17/m/201503171713454814.jpg);"><p class="t" style="display: none;"></p><p class="h" style="color: rgb(255, 255, 255);">上海学习网图库频道隆重上线</p><p class="p" style="color: rgb(255, 255, 255);">国内首家超清图画及摄影作品商业数据库</p></a></li><li id="bb10" style="z-index: 9; display: block; background-color: rgb(195, 188, 159);"><a href="http://fangzhi.shlll.net/" target="_blank" style="background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/1/9/m/201501091313199043.jpg);"><p class="t" style="display: none;"></p><p class="h" style="color: rgb(255, 255, 255);">中国地方志</p><p class="p" style="color: rgb(255, 255, 255);">中国地方志</p></a></li><li id="bb11" style="z-index: 9; display: block; background-color: rgb(67, 54, 38);"><a href="http://exam.shlll.net/" target="_blank" style="background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/1/9/m/201501091314304632.jpg);"><p class="t" style="display: none;"></p><p class="h" style="color: rgb(255, 255, 255);">上海学习网试题库</p><p class="p" style="color: rgb(255, 255, 255);">十三万套在线试卷等你模拟练习</p></a></li></ul><div id="d_banner_c" class="d-banner-c" style="visibility: visible;">
                    <div id="d_banner_thumb" class="d-banner-thumb"><a href="http://wk.shlll.net/" target="_blank" style="margin-top: 7px; background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/6/8/S/201506080930116089.jpg);"><p><span style="width: 0px;"></span></p></a><a href="http://news.shlll.net/News/News1194.html" target="_blank" style="margin-top: 7px; background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/6/17/S/201506171354536973.jpg);"><p><span style="width: 0px;"></span></p></a><a href="http://act.shlll.net/read/home" target="_blank" style="margin-top: 7px; background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/4/21/S/201504211752416502.jpg);"><p><span style="width: 0px;"></span></p></a><a href="http://shige.shlll.net/" target="_blank" style="margin-top: 7px; background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/4/22/S/201504221655457619.jpg);"><p><span style="width: 0px;"></span></p></a><a href="http://www.shlll.net/special/earth" target="_blank" style="margin-top: 7px; background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/5/19/S/201505191703048749.jpg);"><p><span style="width: 0px;"></span></p></a><a href="http://act.shlll.net/Activities/Activities136.html" target="_blank" style="margin-top: 7px; background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/4/21/S/201504211751112012.jpg);"><p><span style="width: 0px;"></span></p></a><a href="http://act.shlll.net/Activities/Activities135.html" target="_blank" style="margin-top: 7px; background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/4/21/S/201504211749244502.jpg);"><p><span style="width: 0px;"></span></p></a><a href="http://photo.shlll.net/activityshow.html?id=50" target="_blank" style="margin-top: 7px; background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/3/20/S/201503201353176819.jpg);"><p><span style="width: 0px;"></span></p></a><a href="http://tuku.shlll.net/" target="_blank" style="margin-top: 0px; background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/3/17/S/201503171713512690.jpg);"><p><span style="width: 0px;"></span></p></a><a href="http://fangzhi.shlll.net/" target="_blank" style="margin-top: 7px; background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/1/9/S/201501091313295763.jpg);"><p><span style="width: 0px;"></span></p></a><a href="http://exam.shlll.net/" target="_blank" style="background-image: url(http://www.shlll.net/File/Portal/EspeciallyPlan/2015/1/9/S/201501091314373116.jpg);"><p><span></span></p></a></div><div id="d_board" class="d-board">
                        <div class="tabbar">
                            <!--<div class="tab_select" onmouseover="sub_t(20);km_tab.tabclk(0,'d_board');">最新排行</div>
                            <div class="tab" onmouseover="sub_t(116);km_tab.tabclk(1,'d_board');">最新课程</div>-->
                            <div class="tab" style="width:144px;" onmouseover="sub_t(42);km_tab.tabclk(0,&#39;d_board&#39;);">今日历史</div><div class="tab_select" style="width:144px;" onmouseover="sub_t(186);km_tab.tabclk(1,&#39;d_board&#39;);">学习资讯</div><div class="bar" style="left: 186px;"></div>
                        </div><div class="tabcontent">
                            <div id="d_board2" style="padding-top:10px;" class="clsHide">
                                <div class="scroll-wrapper external-scroll tis-container" style="position: relative;">
                                    <div class="external-scroll tis-container scroll-content scroll-scrollx_show scroll-scrolly_show" style="height: 337px; margin-bottom: -17px; margin-right: -17px;">
                                        <div id="tih" style="height: 436px;">
                                            <div class="tis-item">
                                                <div><span class="tis-type">[城市变迁]</span></div>
                                                <div class="tis-ed"><a href="javascript:;" title="上海老街建成" class="tis-title">[1999] 上海老街建成</a></div>
                                                <div class="tis-content" style="color:#fff; font-size:12px;">&nbsp; &nbsp; &nbsp; 位于黄埔区豫园商业旅游区方浜中路上，东起人民路，西至河南南路，全长825米。街上有修整完善的古建筑和许多百年老店，是一条旅游街与商业街。</div>
                                            </div>
                                            <div class="tis-item">
                                                <div><span class="tis-type">[政治历史]</span></div>
                                                <div class="tis-ed"><a href="javascript:;" title="中国学生联合会在上海成立" class="tis-title">[1947] 中国学生联合会在上海成立</a></div>
                                                <div class="tis-content" style="color:#fff; font-size:12px;">&nbsp; &nbsp; &nbsp; 中国学生联合会在上海成立</div>
                                            </div>
                                            <div class="tis-item">
                                                <div><span class="tis-type">[政治历史]</span></div>
                                                <div class="tis-ed"><a href="javascript:;" title="杨杏佛遇刺" class="tis-title">[1933] 杨杏佛遇刺</a></div>
                                                <div class="tis-content" style="color:#fff; font-size:12px;">&nbsp; &nbsp; &nbsp; 杨杏佛是“中国人权保障同盟”的总干事。进步人士。1933年3、4月间，蒋介石密令戴笠刺杀。6月18日车队遭遇刺客袭击，因抢救无效辞世。6月20日，其遗体在万国殡仪馆入殓。宋庆龄、鲁迅、蔡元培等前往吊唁。</div>
                                            </div>
                                            <div class="tis-item">
                                                <div><span class="tis-type">[政治历史]</span></div>
                                                <div class="tis-ed"><a href="javascript:;" title="上海工会联合会成立" class="tis-title">[1929] 上海工会联合会成立</a></div>
                                                <div class="tis-content" style="color:#fff; font-size:12px;">&nbsp; &nbsp; &nbsp; 上海工会联合会成立</div>
                                            </div>
                                            <div style="height:6px; overflow:hidden;">&nbsp;</div>
                                        </div><!-- region start: 今日历史 --><!--<ul class="d-board-e">--><!--{{ today in history start }}-->
                                        <!--<div class="tis-item">
                                          <div class="tis-ed" {6}>{5}</div>
                                          <div><a href="{1}" title="{0}" class="tis-title"><span class="tis-type">[{3}]</span> {2}</a></div>
                                          <div class="tis-content" style="color:#fff; font-size:12px;">{4}</div>
                                        </div>-->
                                        <!--{{ today in history end }}--><!--</ul>--><!--<div style="height:6px; overflow:hidden;">&nbsp;</div>--><!-- region end: 今日历史 -->
                                    </div><div class="scroll-element scroll-element_show-arrows scroll-x scroll-scrolly_show" style="display: block; width: 290px;"><div class="scroll-arrow scroll-arrow_less"></div><div class="scroll-arrow scroll-arrow_more"></div><div class="scroll-element_outer">    <div class="scroll-element_size"></div>    <div class="scroll-element_inner-wrapper">        <div class="scroll-element_inner">            <div class="scroll-element_inner-bottom"></div>        </div>    </div>    <div class="scroll-bar" style="left: 0px;">        <div class="scroll-bar_body">            <div class="scroll-bar_body-inner"></div>        </div>        <div class="scroll-bar_bottom"></div>        <div class="scroll-bar_center"></div>    </div></div></div>
                                </div><div class="external-scroll_x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_inner"></div><div class="scroll-bar"></div></div></div><div class="external-scroll_y scroll-element_show-arrows scroll-y scroll-scrollx_show" style="display: block; height: 320px;"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_inner"></div><div class="scroll-bar" style="height: 217px; top: 0px;"></div></div></div>
                            </div><div class=""><!-- region start: 学习资讯 --><ul class="d-board-e"><li><a href="http://news.shlll.net/News/News1183.html" title="文化艺术体验基地市民体验手册6月刊">文化艺术体验基地市民体验手册6月刊</a></li><li><a href="http://news.shlll.net/News/News1153.html" title="教师如何做课题研究">教师如何做课题研究</a></li><li><a href="http://news.shlll.net/News/News1184.html" title="“常青树杯”上海市第十届老年教育艺术节合唱比赛成功举办">“常青树杯”上海市第十届老年教育艺术节合唱比赛成功举办</a></li><li><a href="http://news.shlll.net/News/News1158.html" title="驴又火了，不要做工作中的驴！">驴又火了，不要做工作中的驴！</a></li><li><a href="http://news.shlll.net/News/News1150.html" title="孩子别太优秀，停一停！">孩子别太优秀，停一停！</a></li><li><a href="http://news.shlll.net/News/News1174.html" title="睡觉永远不失眠的方法秘籍，值得收藏！">睡觉永远不失眠的方法秘籍，值得收藏！</a></li><li><a href="http://news.shlll.net/News/News1180.html" title="婴幼儿正确喂药，捏鼻子喂药致幼儿窒息死亡">婴幼儿正确喂药，捏鼻子喂药致幼儿窒息死亡</a></li><li><a href="http://news.shlll.net/News/News1182.html" title="高考临近，家长如何稳定心态？">高考临近，家长如何稳定心态？</a></li><li><a href="http://news.shlll.net/News/News1197.html" title="组织开展“乐学申城?精彩人生” 2015上海社区学习团队成果展示活动的通知">组织开展“乐学申城?精彩人生” 2015上海社区学习团队成果展示活动的通知</a></li><li><a href="http://news.shlll.net/News/News348.html" title="上海开放大学2014“学习改变命运、阅读成就梦想”主题读书节活动">上海开放大学2014“学习改变命运、阅读成就梦想”主题读书节活动</a></li></ul><!-- region end: 学习资讯 --></div>
                        </div>
                    </div>
                </div>
            </div><div class="d-row" style="padding: 40px 0 20px 0;"><div class="d-row-c"><div class="d-col-1"><div class="contentarea"><!-- region start: ad1 --><!--<div id="d_ad_home_default_1" class="d-ad-1000x90" data-km-url="http://res.shlll.net//widget/home/ad_home_default_1?wb=d:ad_home_default_1(getad)"></div>--><div id="Div2" class="d-ad-1000x90" data-km-url=""><a href="http://shige.shlll.net/" rel="nofollow" target="_blank"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/shige.jpg" width="900" height="90" alt=""></a></div><!-- region end: ad1 --></div></div></div></div><div id="d_row_cou" class="d-row" style="padding: 20px 0 20px 0; background-color: #f7f7f7;">
                <div class="d-row-c">
                    <div class="d-col-2-1"><div class="contentarea"><div class="d-menu-vertical"><a href="http://course.shlll.net/"><div class="head cou"></div></a><div class="body"><a class="item" href="http://course.shlll.net/Course/discovery/C3E60BAC491015EB" title="职业教育">职业教育</a><a class="item" href="http://course.shlll.net/Course/discovery/BF0612F5B717A903" title="高等教育">高等教育</a><a class="item" href="http://course.shlll.net/Course/discovery/12FF2473CE16B988" title="终身教育">终身教育</a><a class="item" href="http://course.shlll.net/Course/discovery/DBE05079A4AF427A" title="基础教育">基础教育</a><a class="item" href="http://course.shlll.net/Course/discovery/CF7FD68D3AB9C7F7" title="主题资源">主题资源</a></div></div></div></div><div class="d-col-2-11">
                        <div class="contentarea">
                            <!-- region start: 首页推荐课程 --><div id="d_courserecommend" class="d-courserecommend">
                                <!--
                                <div class="head">推荐课程
                                  <span class="turn">
                                    <span class="dot_select" onclick="km_slide.dottran('slide_courserecommend',0,412)"></span>
                                    <span class="dot" onclick="km_slide.dottran('slide_courserecommend',1,412)"></span>
                                    <span class="dot" onclick="km_slide.dottran('slide_courserecommend',2,412)"></span>
                                  </span>
                                </div>
                                -->
                                <div class="body"><div id="slide_courserecommend" class="slidecontainer"><div class="item"><a class="course-cover cover" href="http://course.shlll.net/Course/Course8496.html" title="野外生存体验"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201506171409551604.jpg" data-echo="/File/Portal/SpecialRecommendCover/2015/6/17/201506171409551604.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_150.jpg&#39;;"></a><div class="title trim"><a href="http://course.shlll.net/Course/Course8496.html" title="野外生存体验">野外生存体验</a></div><span class="signed">5人学习</span><span class="star star0"></span></div><div class="item"><a class="course-cover cover" href="http://course.shlll.net/Course/Course8688.html" title="父母大课堂"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201506171408280343.jpg" data-echo="/File/Portal/SpecialRecommendCover/2015/6/17/201506171408280343.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_150.jpg&#39;;"></a><div class="title trim"><a href="http://course.shlll.net/Course/Course8688.html" title="父母大课堂">父母大课堂</a></div><span class="signed">18人学习</span><span class="star star0"></span></div><div class="item"><a class="course-cover cover" href="http://course.shlll.net/Course/Course9256.html" title="六级425分全程提分班"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201506171455340885.jpg" data-echo="/File/Portal/SpecialRecommendCover/2015/6/17/201506171455340885.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_150.jpg&#39;;"></a><div class="title trim"><a href="http://course.shlll.net/Course/Course9256.html" title="六级425分全程提分班">六级425分全程提分班</a></div><span class="signed">262人学习</span><span class="star star0"></span></div><div class="item"><a class="course-cover cover" href="http://course.shlll.net/Course/Course9239.html" title="杨萃先职场新人简历与面试指导"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201506171409039300.jpg" data-echo="/File/Portal/SpecialRecommendCover/2015/6/17/201506171409039300.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_150.jpg&#39;;"></a><div class="title trim"><a href="http://course.shlll.net/Course/Course9239.html" title="杨萃先职场新人简历与面试指导">杨萃先职场新人简历与面试指导</a></div><span class="signed">7人学习</span><span class="star star0"></span></div><div class="item"><a class="course-cover cover" href="http://course.shlll.net/Course/Course9240.html" title="许岑看电影学英语"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201506171409189060.jpg" data-echo="/File/Portal/SpecialRecommendCover/2015/6/17/201506171409189060.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_150.jpg&#39;;"></a><div class="title trim"><a href="http://course.shlll.net/Course/Course9240.html" title="许岑看电影学英语">许岑看电影学英语</a></div><span class="signed">60人学习</span><span class="star star0"></span></div><div class="item"><a class="course-cover cover" href="http://course.shlll.net/Course/Course8054.html" title="中医手诊"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201506171409382500.jpg" data-echo="/File/Portal/SpecialRecommendCover/2015/6/17/201506171409382500.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_150.jpg&#39;;"></a><div class="title trim"><a href="http://course.shlll.net/Course/Course8054.html" title="中医手诊">中医手诊</a></div><span class="signed">23066人学习</span><span class="star star40"></span></div></div></div>
                            </div><!-- region end: 首页推荐课程 -->
                        </div>
                    </div><div class="clear"></div>
                </div>
            </div><div id="d_row_eve" class="d-row" style="padding: 20px 0 20px 0;">
                <div class="d-row-c">
                    <div class="d-col-2-1"><div class="contentarea"><div class="d-menu-vertical"><a href="http://act.shlll.net/"><div class="head eve"></div></a><div class="body"><a class="item" href="http://act.shlll.net/event/discovery/p_1/43E46B44CFDCA611/A63B73AEB3B95A63" title="读书">读书</a><a class="item" href="http://act.shlll.net/event/discovery/p_1/5F5044B8D82D55DD/A63B73AEB3B95A63" title="摄影">摄影</a><a class="item" href="http://act.shlll.net/event/discovery/p_1/3C3EDA700307444B/A63B73AEB3B95A63" title="绿叶TV">绿叶TV</a></div></div></div></div><div class="d-col-2-11">
                        <div class="contentarea">
                            <!-- region start: 首页推荐活动 --><div id="d_eventrecommend" class="d-eventrecommend">
                                <!--
                                <div class="head">本月热门活动
                                  <span class="turn">
                                    <span class="dot_select" onclick="km_slide.dottran('slide_eventrecommend',0,330)"></span>
                                    <span class="dot" onclick="km_slide.dottran('slide_eventrecommend',1,330)"></span>
                                    <span class="dot" onclick="km_slide.dottran('slide_eventrecommend',2,330)"></span>
                                  </span>
                                </div>
                                -->
                                <div class="body"><div id="slide_eventrecommend" class="slidecontainer"><span class="itemhot"><a class="act-cover cover" href="http://act.shlll.net/Activities/Activities134.html" title="第5届上海社区网上读书活动"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201505041716130846.jpg" data-echo="/File/Portal/SpecialRecommendCover/2015/5/4/201505041716130846.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_150.jpg&#39;;"></a><div class="title trim"><a href="http://act.shlll.net/Activities/Activities134.html" title="第5届上海社区网上读书活动">第5届上海社区网上读书活动</a></div><span class="participant">2862</span><span class="date">2015.04.22-2015.09.30</span><div class="desc"><p>第5届上海社区网上读书活动以“弘扬传统文化，营造书香社区”为主题，旨在培育网上学习交流的良好氛围，丰富和活跃市民的精神文化生活，营造良好的终身学习氛围，激励更多的市民参与学习，全面推进学习型城市建设。</p><p>本届活动积极整合、盘活现有阅读资源，着眼“弘扬民族传统文化”的阅读与指导，创新开展四个微系列阅读活动，涵盖“微点评”“微朗诵”“微编剧”“微报道”，构建无微不至网上读书体验，以多种渠道展示市民的学习成果。</p><p><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/6356581720995433928136739.jpg" title="学习网微信二维码.jpg"></p><p>参与“微朗诵”活动请扫描二维码关注公众微信账号~</p></div></span><span class="item"><a class="act-cover cover" href="http://act.shlll.net/Activities/Activities137.html" title="上海市民诗歌节暨第九届上海市民诗歌创作活动"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201505041715349269.jpg" data-echo="/File/Portal/SpecialRecommendCover/2015/5/4/201505041715349269.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_150.jpg&#39;;"></a><div class="title trim"><a href="http://act.shlll.net/Activities/Activities137.html" title="上海市民诗歌节暨第九届上海市民诗歌创作活动">上海市民诗歌节暨第九届上海市民诗歌创作活动</a></div><span class="participant">216</span><span class="date">2015.04.22-2015.09.15</span><div class="desc"><p>上海市民诗歌节暨第九届上海市民诗歌创作活动以“传承中华优秀传统文化，弘扬社会主义核心价值观”为主题，通过组织广大市民参加诗歌创作活动，弘扬和传承祖国诗歌文化，践行社会主义核心价值观。<br></p><p>上海市民诗歌节是上海“全民终身学习活动周”系列活动的重要组成部分，以“诗歌创作和优秀诗歌作品评选”为主线，包括市民诗歌作品征集与评选、专家讲座、名诗诵读和赏析活动等。</p></div></span><span class="item"><a class="act-cover cover" href="http://act.shlll.net/Activities/Activities135.html" title="上海开放大学2015主题读书节活动"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201505041716489334.jpg" data-echo="/File/Portal/SpecialRecommendCover/2015/5/4/201505041716489334.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_150.jpg&#39;;"></a><div class="title trim"><a href="http://act.shlll.net/Activities/Activities135.html" title="上海开放大学2015主题读书节活动">上海开放大学2015主题读书节活动</a></div><span class="participant">79</span><span class="date">2015.04.22-2015.09.30</span><div class="desc"><p>为了更好地拓展师生阅读视野，提升师生综合素养，上海开放大学在历年全系统开展读书节活动的基础上，2015年拟开展以“放飞我的中国梦”为主题的读书节活动。</p><p>活动一：读书感言</p><p>读者可结合纪念中国工会成立90周年、纪念世界反法西斯战争和中国抗日战争胜利70周年等重大历史事件，从自己教学、工作、学习、生活等各个方面的感悟着手，畅谈读书的体会或对某本书的感受，阐述个人梦与中国梦的关系，探讨有限生命与无限知识的融合。</p><p>活动二：摄影大赛<br></p><p>读者可选择美丽家园、智慧生活、幸福一家、菁菁校园等角度提交作品，展现社会生活、智慧城市、家庭个人、校园文化等多个方面的变化与发展。请您先点击上方“参与活动”参与本次活动后，再<a href="http://photo.shlll.net/activityshow.html?id=51" target="_blank">点此进入摄影大赛页面</a>。</p><p>活动三：知识竞赛</p><p>通过微信开展知识竞赛，推动碎片化学习、主动性学习，提高阅读兴趣，提升读者素养，也增加大家对中国梦的认知与认同。扫描下方二维码手机答题或<a href="http://www.wenjuan.com/s/BVjiqa/" target="_blank">点此进入电脑版开大知识竞赛</a></p><p><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/6356546696428284024270136.png" title="QQ截图20150424101004.png" style="width: 146px; height: 164px;"></p></div></span><span class="item"><a class="act-cover cover" href="http://act.shlll.net/Activities/Activities136.html" title="上海市进城务工人员读书活动"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201505041716331774.jpg" data-echo="/File/Portal/SpecialRecommendCover/2015/5/4/201505041716331774.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_150.jpg&#39;;"></a><div class="title trim"><a href="http://act.shlll.net/Activities/Activities136.html" title="上海市进城务工人员读书活动">上海市进城务工人员读书活动</a></div><span class="participant">23</span><span class="date">2015.04.22-2015.09.30</span><div class="desc"><p>活动主题是“悦读城市 融入上海”，进城务工人员读书活动通过线上和线下联动的方式展开，线上活动依托上海学习网开展活动，主要是以个人或团队形式参加“微点评”和“微朗诵”；线下活动以进城务工人员技能文化培训为载体，通过集体学习的方式进行。</p></div></span><span class="item"><a class="act-cover cover" href="http://act.shlll.net/Activities/Activities23.html" title="第四届上海社区网上读书活动"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201405121030185511.png" data-echo="/File/20140512/Activity/ActivityPic/201405121030185511.png" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_150.jpg&#39;;"></a><div class="title trim"><a href="http://act.shlll.net/Activities/Activities23.html" title="第四届上海社区网上读书活动">第四届上海社区网上读书活动</a></div><span class="participant">20452</span><span class="date">2014.05.20-2014.09.18</span><div class="desc"><p>为了积极倡导全民学习、终身学习的理念，提高市民文化素养，丰富市民精神文化生活，上海市学习型社会建设与终身教育促进委员会办公室、上海市学习型社会建设服务指导中心、上海开放大学共同举办“建智慧城市，做智慧市民”——2014年上海社区网上读书活动。<br>2014年上海社区网上读书活动以“建智慧城市，做智慧市民”为主题，旨在培育网上学习交流的良好氛围，丰富和活跃市民的精神文化生活，提升市民信息化水平和素养，激励更多的市民践行终身学习，争做“智慧市民”，积极参与到“智慧城市”的建设中来。<br><br><a href="http://act.shlll.net/event/bulletindetail/9D91141097345C24" target="_blank">[荐]&nbsp;致广大市民和社区教育工作者的倡议书&nbsp;</a></p></div></span></div></div>
                            </div><!-- region end: 首页推荐活动 -->
                        </div>
                    </div><div class="clear"></div>
                </div>
            </div><div id="d_row_bok" class="d-row" style="padding: 20px 0 20px 0; background-color: #f7f7f7;">
                <div class="d-row-c">
                    <div class="d-col-2-1"><div class="contentarea"><div class="d-menu-vertical"><a href="http://read.shlll.net/"><div class="head bok"></div></a><div class="body"><a class="item" href="http://read.shlll.net/Book/Find?parms=8009A97B9D0780C5" title="文学">文学</a><a class="item" href="http://read.shlll.net/Book/Find?parms=EE0AB87B08CE6F86" title="小说">小说</a><a class="item" href="http://read.shlll.net/Book/Find?parms=A13621ECE4325078" title="文化">文化</a><a class="item" href="http://read.shlll.net/Book/Find?parms=40034964ED7B7D3D" title="艺术">艺术</a><a class="item" href="http://read.shlll.net/Book/Find?parms=662120BCAAA7D2AA" title="时尚">时尚</a><a class="item" href="http://read.shlll.net/Book/Find?parms=300B459192C5DD93" title="经济">经济</a></div></div></div></div><div class="d-col-2-11">
                        <div class="contentarea">
                            <!-- region start: 热门标签 --><div id="d_booktaghot" class="d-booktaghot"><div class="body"><div class="item" style="background-color: #23a532;"><a href="http://read.shlll.net/Book/Find?parms=8009A97B9D0780C5" title="文学">文学</a><div><a class="" href="http://read.shlll.net/Book/Find?parms=861AAF35DAEBF590" title="中国散文随笔">中国散文随笔</a><a class="" href="http://read.shlll.net/Book/Find?parms=51D7CB0DC482BE22" title="外国散文随笔">外国散文随笔</a><a class="" href="http://read.shlll.net/Book/Find?parms=7589A4CB150F3A94" title="中国古诗词">中国古诗词</a><a class="" href="http://read.shlll.net/Book/Find?parms=7ADFA067762EA910" title="中国近当代诗歌">中国近当代诗歌</a><a class="" href="http://read.shlll.net/Book/Find?parms=DE3543AC7EF606CF" title="文学作品集">文学作品集</a><a class="" href="http://read.shlll.net/Book/Find?parms=A21442BA1394F1B6" title="文学理论">文学理论</a></div></div><div class="item" style="background-color: #169425;"><a href="http://read.shlll.net/Book/Find?parms=EE0AB87B08CE6F86" title="小说">小说</a><div><a class="" href="http://read.shlll.net/Book/Find?parms=D248050B0A42062A" title="推理小说">推理小说</a><a class="" href="http://read.shlll.net/Book/Find?parms=3014EA7563114A26" title="军事小说">军事小说</a><a class="" href="http://read.shlll.net/Book/Find?parms=46C6836487BF2BEA" title="历史小说">历史小说</a><a class="" href="http://read.shlll.net/Book/Find?parms=A7425B165A35B4B9" title="悬疑">悬疑</a><a class="" href="http://read.shlll.net/Book/Find?parms=BA58AC71185B1FEA" title="小说集">小说集</a><a class="" href="http://read.shlll.net/Book/Find?parms=1E5E1112B3836C19" title="中国当代小说">中国当代小说</a></div></div><div class="item" style="background-color: #189727;"><a href="http://read.shlll.net/Book/Find?parms=A13621ECE4325078" title="文化">文化</a><div><a class="" href="http://read.shlll.net/Book/Find?parms=2E8D7492EB7FE37B" title="世界文化">世界文化</a><a class="" href="http://read.shlll.net/Book/Find?parms=209E9BE09CDF0B3F" title="中国文化">中国文化</a><a class="" href="http://read.shlll.net/Book/Find?parms=3013993E1A4437F3" title="民族文化">民族文化</a><a class="" href="http://read.shlll.net/Book/Find?parms=B7DE4EAF5F852E38" title="地域文化">地域文化</a><a class="" href="http://read.shlll.net/Book/Find?parms=BA0FB26233B73150" title="文化交流">文化交流</a><a class="" href="http://read.shlll.net/Book/Find?parms=6FF1CD32D5B92874" title="文化理论">文化理论</a></div></div><div class="item" style="background-color: #11851e;"><a href="http://read.shlll.net/Book/Find?parms=40034964ED7B7D3D" title="艺术">艺术</a><div><a class="" href="http://read.shlll.net/Book/Find?parms=277024D1528F9844" title="艺术史">艺术史</a><a class="" href="http://read.shlll.net/Book/Find?parms=EF4DCC6835AE4F3C" title="艺术理论与评论">艺术理论与评论</a><a class="" href="http://read.shlll.net/Book/Find?parms=B0A3A65D211C89C5" title="音乐">音乐</a><a class="" href="http://read.shlll.net/Book/Find?parms=F12DA7B8B7677130" title="书画艺术">书画艺术</a><a class="" href="http://read.shlll.net/Book/Find?parms=21D5BB81F5266233" title="影视">影视</a><a class="" href="http://read.shlll.net/Book/Find?parms=E5465BFB56D93E9A" title="舞台艺术">舞台艺术</a></div></div><div class="item" style="background-color: #23a532;"><a href="http://read.shlll.net/Book/Find?parms=662120BCAAA7D2AA" title="时尚">时尚</a><div><a class="" href="http://read.shlll.net/Book/Find?parms=68014FF33638DD54" title="美容妆扮">美容妆扮</a><a class="" href="http://read.shlll.net/Book/Find?parms=7C1FA2E8F4E5BDAF" title="血型">血型</a><a class="" href="http://read.shlll.net/Book/Find?parms=D8C2E38745B93DB1" title="运程">运程</a><a class="" href="http://read.shlll.net/Book/Find?parms=32CCEE272AC90094" title="时尚生活">时尚生活</a><a class="" href="http://read.shlll.net/Book/Find?parms=C89B532820DA06CB" title="风水">风水</a><a class="" href="http://read.shlll.net/Book/Find?parms=D480E42505874546" title="娱乐">娱乐</a></div></div><div class="item" style="background-color: #189727;"><a href="http://read.shlll.net/Book/Find?parms=300B459192C5DD93" title="经济">经济</a><div><a class="" href="http://read.shlll.net/Book/Find?parms=7DA63B43859E5D24" title="会计">会计</a><a class="" href="http://read.shlll.net/Book/Find?parms=D8C9D09CFA1E32A5" title="投资理财">投资理财</a><a class="" href="http://read.shlll.net/Book/Find?parms=8F0AF03F08B3FAA3" title="区域经济">区域经济</a><a class="" href="http://read.shlll.net/Book/Find?parms=CC75BB5CE254C59C" title="经济学理论与学说">经济学理论与学说</a><a class="" href="http://read.shlll.net/Book/Find?parms=95827D121D02502C" title="国际经济">国际经济</a><a class="" href="http://read.shlll.net/Book/Find?parms=4FAFBD93897E1543" title="中国经济">中国经济</a></div></div></div></div><!-- region end: 热门标签 --><!-- region start: 首页推荐悦读 --><div id="d_bookrecommend" class="d-bookrecommend">
                                <!--
                                <div class="head">热门图书
                                  <span class="turn">
                                    <span class="dot_select" onclick="km_slide.dottran('slide_bookrecommend',0,484)"></span>
                                    <span class="dot" onclick="km_slide.dottran('slide_bookrecommend',1,484)"></span>
                                    <span class="dot" onclick="km_slide.dottran('slide_bookrecommend',2,484)"></span>
                                  </span>
                                </div>
                                -->
                                <div class="body">
                                    <div id="slide_bookrecommend" class="slidecontainer">
                                        <div class="item">
                                            <a class="cover readingCover" href="http://read.shlll.net/Reading/Reading12615.html" title="何以笙箫默：精装版"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201502041425228823.png" data-echo="/File/Reading/BookPic/2015/2/4/201502041425228823.png" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_150_200.jpg&#39;;"></a><div class="title trim"><a href="http://read.shlll.net/Reading/Reading12615.html" title="何以笙箫默：精装版">何以笙箫默：精装版</a></div><div class="author trim">
                                                顾漫
                                            </div>
                                        </div><div class="item">
                                            <a class="cover readingCover" href="http://read.shlll.net/Reading/Reading12683.html" title="时间都去哪儿了：我和老爸30年"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/RYXX00-60437937.jpg" data-echo="/file/reading/EBook/20150108/RYXX00-60437937.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_150_200.jpg&#39;;"></a><div class="title trim"><a href="http://read.shlll.net/Reading/Reading12683.html" title="时间都去哪儿了：我和老爸30年">时间都去哪儿了：我和老爸30年</a></div><div class="author trim">
                                                大萌子
                                            </div>
                                        </div><div class="item">
                                            <a class="cover readingCover" href="http://read.shlll.net/Reading/Reading27805.html" title="人际交往读本"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/arlhsi.jpg" data-echo="/file/reading/ebook/20150323/pic/arlhsi.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_150_200.jpg&#39;;"></a><div class="title trim"><a href="http://read.shlll.net/Reading/Reading27805.html" title="人际交往读本">人际交往读本</a></div><div class="author trim">
                                                夏德元
                                            </div>
                                        </div><div class="item"><a class="cover readingCover" href="http://read.shlll.net/Reading/Reading9618.html" title="小毛病，大改造"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/GTBY00-327563.jpg" data-echo="/file/reading/EBook/20140421/GTBY00-327563.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_150_200.jpg&#39;;"></a><div class="title trim"><a href="http://read.shlll.net/Reading/Reading9618.html" title="小毛病，大改造">小毛病，大改造</a></div><div class="author trim"></div></div><div class="item">
                                            <a class="cover readingCover" href="http://read.shlll.net/Reading/Reading3612.html" title="四大名著-西游记（上下）"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/BJRZT22000-3001815255.jpg" data-echo="/file/reading/EBook/20140421/BJRZT22000-3001815255.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_150_200.jpg&#39;;"></a><div class="title trim"><a href="http://read.shlll.net/Reading/Reading3612.html" title="四大名著-西游记（上下）">四大名著-西游记（上下）</a></div><div class="author trim">
                                                《图说天下·古典名著系列》编委会
                                            </div>
                                        </div><div class="item">
                                            <a class="cover readingCover" href="http://read.shlll.net/Reading/Reading8577.html" title="四大名著-三国演义（上下）"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/BJRZT22000-3001815254.jpg" data-echo="/file/reading/EBook/20140421/BJRZT22000-3001815254.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_150_200.jpg&#39;;"></a><div class="title trim"><a href="http://read.shlll.net/Reading/Reading8577.html" title="四大名著-三国演义（上下）">四大名著-三国演义（上下）</a></div><div class="author trim">
                                                《图说天下·古典名著系列》编委会
                                            </div>
                                        </div><div class="item">
                                            <a class="cover readingCover" href="http://read.shlll.net/Reading/Reading9074.html" title="财务侦探"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201406241627575028.jpg" data-echo="/File/Reading/BookPic/2014/6/24/201406241627575028.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_150_200.jpg&#39;;"></a><div class="title trim"><a href="http://read.shlll.net/Reading/Reading9074.html" title="财务侦探">财务侦探</a></div><div class="author trim">
                                                郑朝晖
                                            </div>
                                        </div><div class="item">
                                            <a class="cover readingCover" href="http://read.shlll.net/Reading/Reading5313.html" title="聪明女人的幸福哲学"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201405131609342030.jpg" data-echo="/File/20140513/Reading/BookPic/201405131609342030.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_150_200.jpg&#39;;"></a><div class="title trim"><a href="http://read.shlll.net/Reading/Reading5313.html" title="聪明女人的幸福哲学">聪明女人的幸福哲学</a></div><div class="author trim">
                                                谢莎莎
                                            </div>
                                        </div><div class="item">
                                            <a class="cover readingCover" href="http://read.shlll.net/Reading/Reading4445.html" title="手指速算法"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/DLWH00-50029724.jpg" data-echo="/file/reading/EBook/20140421/DLWH00-50029724.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_150_200.jpg&#39;;"></a><div class="title trim"><a href="http://read.shlll.net/Reading/Reading4445.html" title="手指速算法">手指速算法</a></div><div class="author trim">
                                                罗彦频
                                            </div>
                                        </div><div class="item"><a class="cover readingCover" href="http://read.shlll.net/Reading/Reading2596.html" title="怀瑾先生讲智慧"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201406241128269108.jpg" data-echo="/File/Reading/BookPic/2014/6/24/201406241128269108.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_150_200.jpg&#39;;"></a><div class="title trim"><a href="http://read.shlll.net/Reading/Reading2596.html" title="怀瑾先生讲智慧">怀瑾先生讲智慧</a></div><div class="author trim"></div></div>
                                    </div>
                                </div>
                            </div><!-- region end: 首页推荐悦读 -->
                        </div>
                    </div><div class="clear"></div>
                </div>
            </div><div class="d-row" style="padding: 20px 0 0 0;"><div class="d-row-c"><div class="d-col-1"><div class="contentarea"><!-- region start: ad2 --><!--<div id="d_ad_home_default_2" class="d-ad-1000x90" data-km-url="http://res.shlll.net//widget/home/ad_home_default_2?wb=d:ad_home_default_2(getad)"></div>--><div id="d_ad_home_default_2" class="d-ad-1000x90" data-km-url=""><a href="http://photo.shlll.net/group.html" rel="nofollow" target="_blank"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/ad-home-default-1.jpg" width="1000" height="90" alt=""></a></div><!-- region end: ad2 --></div></div></div></div><div id="d_row_gro" class="d-row" style="padding: 20px 0 20px 0;">
                <div class="d-row-c">
                    <div class="d-col-2-1"><div class="contentarea"><div class="d-menu-vertical"><a href="http://group.shlll.net/"><div class="head gro"></div></a><div class="body"><a class="item" href="http://group.shlll.net/home/discovery?tid=44B6D952D9787094&rid=8E32A307C609F25A" title="摄影">摄影</a><a class="item" href="http://group.shlll.net/home/discovery?tid=9F93E0D7D4903760&rid=8E32A307C609F25A" title="舞蹈">舞蹈</a><a class="item" href="http://group.shlll.net/home/discovery?tid=7B7F9795A9E641A4&rid=8E32A307C609F25A" title="读书">读书</a><a class="item" href="http://group.shlll.net/home/discovery?tid=9D91141097345C24&rid=8E32A307C609F25A" title="音乐">音乐</a><a class="item" href="http://group.shlll.net/home/discovery?tid=12FF2473CE16B988&rid=8E32A307C609F25A" title="健身">健身</a><a class="item" href="http://group.shlll.net/home/discovery?tid=94757066CB8E6EF4&rid=8E32A307C609F25A" title="生活">生活</a><a class="item" href="http://group.shlll.net/home/discovery?tid=9E2D1044552827FF&rid=8E32A307C609F25A" title="绘画">绘画</a></div></div></div></div><div class="d-col-2-11">
                        <div class="contentarea">
                            <!-- region start: 首页推荐团队 --><div id="d_grouprecommend" class="d-grouprecommend"><div class="body"><span class="item"><a class="portrait" href="http://group.shlll.net/home/detail?tid=98ADEA0188BA8D38" title="聚能量团队"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201506171011364997.jpg" data-echo="/File/Team/Logo/2015/6/17/201506171011364997.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_200.jpg&#39;;"></a><span class="name trim"><a href="http://group.shlll.net/home/detail?tid=98ADEA0188BA8D38" title="聚能量团队">聚能量团队</a></span><span class="users">6位成员</span></span><span class="item"><a class="portrait" href="http://group.shlll.net/home/detail?tid=8A2C0DD618B2CD4E" title="古韵书香读书团队"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201506171346286120.jpg" data-echo="/File/Team/Logo/2015/6/17/201506171346286120.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_200.jpg&#39;;"></a><span class="name trim"><a href="http://group.shlll.net/home/detail?tid=8A2C0DD618B2CD4E" title="古韵书香读书团队">古韵书香读书团队</a></span><span class="users">15位成员</span></span><span class="item"><a class="portrait" href="http://group.shlll.net/home/detail?tid=02962D588EB6C731" title="新联村党员书坛俱乐部"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201506081104504618.jpg" data-echo="/File/Team/Logo/2015/6/8/201506081104504618.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_200.jpg&#39;;"></a><span class="name trim"><a href="http://group.shlll.net/home/detail?tid=02962D588EB6C731" title="新联村党员书坛俱乐部">新联村党员书坛俱乐部</a></span><span class="users">6位成员</span></span><span class="item"><a class="portrait" href="http://group.shlll.net/home/detail?tid=3C17BA812FA147AC" title="外冈新苑社区巧妈妈团队"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201506111201061918.jpg" data-echo="/File/Team/Logo/2015/6/11/201506111201061918.jpg" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_200.jpg&#39;;"></a><span class="name trim"><a href="http://group.shlll.net/home/detail?tid=3C17BA812FA147AC" title="外冈新苑社区巧妈妈团队">外冈新苑社区巧妈妈团队</a></span><span class="users">8位成员</span></span><span class="item"><a class="portrait" href="http://group.shlll.net/home/detail?tid=7B7F9795A9E641A4" title="电达摄影爱好者学习圈"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201406191623093925.png" data-echo="/File/Circle/CircleCover/2014/6/19/201406191623093925.png" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_200.jpg&#39;;"></a><span class="name trim"><a href="http://group.shlll.net/home/detail?tid=7B7F9795A9E641A4" title="电达摄影爱好者学习圈">电达摄影爱好者学习圈</a></span><span class="users">51位成员</span></span><span class="item"><a class="portrait" href="http://group.shlll.net/home/detail?tid=1C72B803A6FDA27E" title="彭赵村求知读书会"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/201506111652034960.png" data-echo="/File/Team/Logo/2015/6/11/201506111652034960.png" onerror="this.onerror=&#39;&#39;;this.src=&#39;/file/Images/Default/public_default_200_200.jpg&#39;;"></a><span class="name trim"><a href="http://group.shlll.net/home/detail?tid=1C72B803A6FDA27E" title="彭赵村求知读书会">彭赵村求知读书会</a></span><span class="users">14位成员</span></span></div></div><!-- region end: 首页推荐团队 --><!-- region start: 首页热门话题 --><div id="d_topicrecommend" class="d-topicrecommend">
                                <div class="body">
                                    <a class="itemhot" href="http://group.shlll.net/home/work"><span class="title">最新成果</span><span class="info">更多成果</span></a><a class="item" style="background-color: #08777e;" href="http://group.shlll.net/home/workdetail/928A8AC0C6CC3D02">
                                        <!--<span class="title">
                                          <a href="http://group.shlll.net/home/workdetail/928A8AC0C6CC3D02" title="【疾病护理】夏天宝宝防痱子锦囊">【疾病护理】夏天宝宝防痱子锦囊</a>
                                        </span>-->
                                        <span class="title">【疾病护理】夏天宝宝防痱子锦囊</span><span class="info"><span class="reply">0人回应</span><span class="like">1人喜欢</span></span>
                                    </a><a class="item" style="background-color: #097980;" href="http://group.shlll.net/home/workdetail/D94343F2DDA4A663">
                                        <!--<span class="title">
                                          <a href="http://group.shlll.net/home/workdetail/D94343F2DDA4A663" title="【亲子教育】日记画的6大好处">【亲子教育】日记画的6大好处</a>
                                        </span>-->
                                        <span class="title">【亲子教育】日记画的6大好处</span><span class="info"><span class="reply">0人回应</span><span class="like">1人喜欢</span></span>
                                    </a><a class="item" style="background-color: #18858c;" href="http://group.shlll.net/home/workdetail/E22BA4330B7F8A4D">
                                        <!--<span class="title">
                                          <a href="http://group.shlll.net/home/workdetail/E22BA4330B7F8A4D" title="郑小云书法作品">郑小云书法作品</a>
                                        </span>-->
                                        <span class="title">郑小云书法作品</span><span class="info"><span class="reply">0人回应</span><span class="like">1人喜欢</span></span>
                                    </a>
                                </div>
                            </div><!-- region end: 首页热门话题 -->
                        </div>
                    </div><div class="clear"></div>
                </div>
            </div><div class="d-row" style="background-color: #ececec; border-top: 2px solid #474747;">
                <div class="d-row-c">
                    <div class="d-col-1">
                        <div class="contentarea">
                            <!-- region start: 帮助导航 --><div class="d-help">
                                <div class="head"></div><div class="body">
                                    <div class="item" style="width: 158px;">
                                        <div style="text-align: left;">
                                            <a href="http://weibo.com/shlll" target="_blank" class="ha">
                                                <img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/qrcode-weibo.jpg" width="125" height="125" border="0"><br>
                                                &nbsp;&nbsp;关注上海学习网微博
                                            </a>
                                        </div>
                                    </div><div class="item" style="width: 158px; border-right: 1px solid #a1a1a1;">
                                        <div style="text-align: left;">
                                            <a href="javascript:;" class="ha">
                                                <img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/qrcode-weixin.jpg" width="125" height="125" border="0"><br>
                                                &nbsp;&nbsp;关注上海学习网微信
                                            </a>
                                        </div>
                                    </div><div class="item" style="width: 140px; border-right: 1px solid #a1a1a1; border-left: 1px solid #f9f9f9;"><div class="h">关于我们</div><a href="http://www.shlll.net/home/intro" target="_blank">网站介绍</a><a href="http://www.shlll.net/home/history" target="_blank">发展历程</a><a href="http://www.shlll.net/home/contactus" target="_blank">联系方式</a><a href="http://www.shlll.net/home/legal" target="_blank">法律声明</a></div><div class="item" style="width: 140px; border-right: 1px solid #a1a1a1; border-left: 1px solid #f9f9f9;"><div class="h">新手指南</div><a href="http://member.shlll.net/home/signup" target="_blank">网站注册</a><a href="http://www.shlll.net/main/index.html#" target="_blank">个人资料</a><a href="http://www.shlll.net/main/index.html#" target="_blank">课程学习</a><a href="http://www.shlll.net/main/index.html#" target="_blank">图书阅读</a></div><div class="item" style="width: 140px; border-right: 1px solid #a1a1a1; border-left: 1px solid #f9f9f9;"><div class="h">支持服务</div><a href="http://www.shlll.net/home/cooperation" target="_blank">机构合作</a><a href="http://www.shlll.net/home/sitemap" target="_blank">网站地图</a><a href="http://learning.shlll.net/home/book/index4.html" target="_blank">电子期刊</a><a href="http://online.sherc.net:8080/VisionIM/livechat/chat.html" target="_blank">在线客服</a></div><div class="item" style="width: 216px; padding: 0 0 0 40px; border-left: 1px solid #f9f9f9;"><div class="h2">移动学习：上海乐学</div><!--   <a href="https://itunes.apple.com/cn/app/wei-ke/id875668603?l=en&mt=8" class="icon-mobile-apple" target="_blank">--><a class="icon-mobile-apple"><div style="color: #9ca0ac;">iPhone 客户端</div><div style="color: #9ca0ac;"><b>App Store</b></div></a><a href="http://www.shlll.net/file/Download/shequ.1.0.apk" class="icon-mobile-android" target="_blank"><div style="color: #9ca0ac;">Android 客户端</div><div style="color: #60636c;"><b>本地下载</b></div></a></div><div class="clear"></div>
                                </div>
                            </div><!-- region end: 帮助导航 -->
                        </div>
                    </div>
                </div>
            </div><div id="d_footer" class="d-footer"><div id="d_footer_c" class="d-footer-c"><!-- region start: 页脚 --><div class="l" style="display: block;"><img src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/kf.jpg" width="33" height="29" style="vertical-align: middle;">&nbsp;客服：021-25653066 <span style="color: #999;">工作日（8:00—20:00）双休日（8:00—16:40）</span></div><div class="r"><div class="lnk">上海市学习型社会建设与终身教育促进委员会主管</div><div class="lnk">上海开放大学承建</div><div class="lnk">2015 © 版权所有</div><div class="lnk">沪ICP备09027389号</div></div><div class="clear"></div><!-- region end: 页脚 --><!--<div>v1_01</div>--></div></div>
        </div>
    </div>
    <script>

        var adtranObj = new km_adtran();
        adtranObj.afterinit = function () {
            $('#div_spin').remove();
            $('.d-banner .loading').remove();
            $('#d_banner_c').css({
                visibility: 'visible'
            });
            $('#' + adtranObj.thumb).children().each(function (i) {
                var _i = i;
                $(this).on('mouseover', function () {
                    adtranObj.dotran(i);
                });
            });
            $('#d_homebanner').children().eq(0).css('z-index', '11');
            $('#d_homebanner').css('display', 'block');
            adtranObj.start();

            $proto.pageloaded = true;
        };
        adtranObj.beforetran = function (oidx, nidx) {
            if (oidx == -1) { return; }
            $('#' + adtranObj.thumb).children().eq(oidx).stop();
            $('#' + adtranObj.thumb).children().eq(nidx).stop();
            $('#' + adtranObj.thumb).children().eq(oidx).find('span').stop();
            $('#' + adtranObj.thumb).children().eq(nidx).find('span').stop();
            $('#' + adtranObj.thumb).children().eq(oidx).find('span').css({ 'width': '0' });
            $('#' + adtranObj.thumb).children().eq(nidx).find('span').css({ 'width': '0' });
            $('#' + adtranObj.thumb).children().eq(oidx).animate({ 'margin-top': '7px' }, 100);
            $('#' + adtranObj.thumb).children().eq(nidx).animate({ 'margin-top': '0' }, 100);
        }
        adtranObj.aftertran = function (nidx) {
            return;
            var it = adtranObj.list[nidx].interval;
            $('#' + adtranObj.thumb).children().eq(nidx).find('span').animate({ 'width': '100%' }, it, function () {
                $(this).css({ 'width': '0' });
            });
        }
        adtranObj.container = 'd_homebanner';
        adtranObj.thumb = 'd_banner_thumb';
        adtranObj.himgs = [
          {id:'bb1',bg:'/File/Portal/EspeciallyPlan/2015/6/8/m/201506080930030132.jpg',thumb:'/File/Portal/EspeciallyPlan/2015/6/8/S/201506080930116089.jpg',bgcolor:'#2a91d4',fgcolor:'#fff'},{id:'bb2',bg:'/File/Portal/EspeciallyPlan/2015/6/17/m/201506171354498753.jpg',thumb:'/File/Portal/EspeciallyPlan/2015/6/17/S/201506171354536973.jpg',bgcolor:'#dbaa55',fgcolor:'#fff'},{id:'bb3',bg:'/File/Portal/EspeciallyPlan/2015/4/21/m/201504211752250361.jpg',thumb:'/File/Portal/EspeciallyPlan/2015/4/21/S/201504211752416502.jpg',bgcolor:'#cfb473',fgcolor:'#fff'},{id:'bb4',bg:'/File/Portal/EspeciallyPlan/2015/4/28/m/201504281459086481.jpg',thumb:'/File/Portal/EspeciallyPlan/2015/4/22/S/201504221655457619.jpg',bgcolor:'#d7cdbf',fgcolor:'#fff'},{id:'bb5',bg:'/File/Portal/EspeciallyPlan/2015/5/19/m/201505191727598100.jpg',thumb:'/File/Portal/EspeciallyPlan/2015/5/19/S/201505191703048749.jpg',bgcolor:'#759e2d',fgcolor:'#fff'},{id:'bb6',bg:'/File/Portal/EspeciallyPlan/2015/4/21/m/201504211750366159.jpg',thumb:'/File/Portal/EspeciallyPlan/2015/4/21/S/201504211751112012.jpg',bgcolor:'#018b50',fgcolor:'#fff'},{id:'bb7',bg:'/File/Portal/EspeciallyPlan/2015/4/21/m/201504211748570098.jpg',thumb:'/File/Portal/EspeciallyPlan/2015/4/21/S/201504211749244502.jpg',bgcolor:'#bf0e06',fgcolor:'#fff'},{id:'bb8',bg:'/File/Portal/EspeciallyPlan/2015/3/20/m/201503201353090083.jpg',thumb:'/File/Portal/EspeciallyPlan/2015/3/20/S/201503201353176819.jpg',bgcolor:'#000000',fgcolor:'#fff'},{id:'bb9',bg:'/File/Portal/EspeciallyPlan/2015/3/17/m/201503171713454814.jpg',thumb:'/File/Portal/EspeciallyPlan/2015/3/17/S/201503171713512690.jpg',bgcolor:'#cabca2',fgcolor:'#fff'},{id:'bb10',bg:'/File/Portal/EspeciallyPlan/2015/1/9/m/201501091313199043.jpg',thumb:'/File/Portal/EspeciallyPlan/2015/1/9/S/201501091313295763.jpg',bgcolor:'#c3bc9f',fgcolor:'#fff'},{id:'bb11',bg:'/File/Portal/EspeciallyPlan/2015/1/9/m/201501091314304632.jpg',thumb:'/File/Portal/EspeciallyPlan/2015/1/9/S/201501091314373116.jpg',bgcolor:'#433626',fgcolor:'#fff'}
        ];
        var adtranObjList = [];
        for(var i = 0; i < adtranObj.himgs.length; i++){
            var _id = 'bb' + ( i + 1);
            var _d = { d: _id, interval: i == 0 ? 10000 : 5000 };
            adtranObjList.push(_d);
        }
        adtranObj.list = adtranObjList;
        /*
        adtranObj.list = [
          {
            d: "bb1", interval: 5000}
          , { d: "bb2", interval: 5000 }
          , { d: "bb3", interval: 5000 }
          , { d: "bb4", interval: 5000 }
          , { d: "bb5", interval: 5000 }
        ];
        */
    </script>
    <script>
        var thisLocation = window.location.href;
        var memberSiteURL = 'http://localhost:53411/';
        $proto.basepath.home = memberSiteURL + 'usercenter/useraccount';
        $proto.basepath.personalhome = memberSiteURL + 'usercenter/historycourse';
        $proto.basepath.useraccount = memberSiteURL + 'usercenter/useraccount';
        $proto.basepath.verify = memberSiteURL + 'usercenter/verify';
        $proto.basepath.login = memberSiteURL + 'User/Login?redirect=' + thisLocation;//登录页面
        $proto.basepath.signup = memberSiteURL + 'User/Register?redirect=' + thisLocation;//注册页面
        //$proto.basepath.signup = 'http://www.shlll.net/home/login/register.jsp';//注册页面
        //$proto.basepath.loginaction='...';//登录ajax的请求地址
        $proto.basepath.logoutaction = memberSiteURL + 'home/action/logout?redirect=' + thisLocation;//退出系统的请求地址
    </script>
    <script src="~/Scripts/init.js"></script>
    <style>
        .readingCover img {
            width: 106px;
            height: 158px;
        }

        .item .act-cover img {
            width: 222px;
            height: 125px;
        }

        .item .course-cover img {
            width: 297px;
            height: 167px;
        }

        .itemhot .act-cover img {
            width: 448px;
            height: 252px;
        }
    </style>
    <script>
        km_st.list=[
            {id:'d_row_cou',text:'课程'}
            ,{id:'d_row_eve',text:'活动'}
            ,{id:'d_row_bok',text:'悦读'}
            ,{id:'d_row_gro',text:'团队'}
            //,{id:'d_row_map',text:'地图'}
            //,{id:'d_row_sha',text:'乐享'}
            //,{id:'d_row_sha',text:'资讯'}
        ];
    </script><div style="display: none;">
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6ca93febbe5f3e3b14f8ee9b8ef13802' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script src="~/Scripts/h.js"></script>
    </div>
    <script>
        function addFavorite(){
            if (document.all){
                try{
                    window.external.addFavorite(window.location.href,document.title);
                }catch(e){
                    alert( "加入收藏失败，请使用Ctrl+D进行添加" );
                }

            }else if (window.sidebar){
                window.sidebar.addPanel(document.title, window.location.href, "");
            }else{
                alert( "加入收藏失败，请使用Ctrl+D进行添加" );
            }
        }
        $(function(){
            $('.channel').find('a').on('click', function(){
                var href = $(this).data('href');
                var fix = '';
                if ($proto.userinfo){
                    var un = $proto.userinfo.encodeusername;
                    fix = '?n=' + un;
                }
                $(this).attr('href', href + fix);
            });
        });
    </script>
    <style>
        .d-banner-thumb, .d-homebanner li a .h, .d-homebanner li a .p {
            left: 20px;
        }
    </style>
    <style>
        #v_close {
            width: 70px;
            text-align: right;
            height: 25px;
            line-height: 25px;
            background: url(/file/video/close.jpg) no-repeat;
            font-size: 16px;
            color: #f2f2f2;
            display: block;
        }

        .header-search {
            width: 92px;
            height: 32px;
            line-height: 32px;
            text-align: center;
            display: block;
            font-size: 14px;
            border: 1px solid #ddd;
            position: absolute;
            color: #888;
            cursor: pointer;
        }
        /*#videoWrapper { width:800px;  }*/
    </style><!--<script src="http://course.shlll.net/resources/jwplayer6/jwplayer.js"></script>--><!--<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>--><!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>-->
    <script src="~/Scripts/jwplayer.js"></script>
    <!--<script src="/file/video/jwplayer6.6/jwpsrv.js"></script>
    <script type="text/javascript">jwplayer.key = "O08yYacDQAh1fYYC9m/b2DkvR3CsgeitSoGhHg==";</script>-->
    <script>
        var opt = {
            videoPath: '/file/video/shlll30.mp4',
            width: 800,
            height: 450,
            fuid: 0,
            onlyPlayer: 1,
            playPrimary: 'flash'/*,
        backColor: '#000000',
        screenColor: '#000000',
        bgColor: '#000000'
        */
        };
        var jwPlayerObj;
        function LoadVideo(opt) {
            jwPlayerObj = jwplayer("videoWrapper").setup({
                file: opt.videoPath,
                /*
                playlist: [{
                  //image: "/assets/sintel.jpg",
                  sources: [{
                    file: opt.videoPath
                  }]
                }],
                */
                width: opt.width,
                height: opt.height,
                controls: false,
                linkfromdisplay: false,
                /*
                controlbar:{
                  visible: false
                },
                player: {
                  modes: {
                    linear: {
                      controls: { visible: false }
                    }
                  }
                },
                */
                autostart: false,
                primary: opt.playPrimary//,
                /*
                screencolor: opt.screenColor,
                backcolor: opt.backColor,
                bgcolor: opt.bgColor
                */

            })
            .onPlay(function(){
            })
            .onPlaylistComplete( function () {
                //console.log('complete');
                //window.setTimeout(function(){
                v_close();
                //},500);
            });
        }
        function v_close(){
            jwPlayerObj.stop();
            $('#wrapper').slideUp(1000, function(){
                $('#videoWrapper').html('');
            });
        }
        $(function () {
            /*
              var b = $.browser.msie && parseInt($.browser.version) == 6;

              if (!b){

                  var showV = $.cookie('xxw_portal_v');

                  if (showV == undefined || showV == '1'){
                      LoadVideo(opt);
                      window.setTimeout(function(){
                          $('#wrapper').slideDown(1000, function(){
                            $('#v_c').fadeIn();
                            $('#videoWrapper').css('border', '1px solid #9b9b9b');
                            jwPlayerObj.play();
                          });
                      },3000);
                  }
                  $('#v_never').change(function(){
                      //alert($(this).prop('checked'));
                      var chk = $(this).prop('checked');
                      if(chk){
                          $.cookie('xxw_portal_v', '0', { expires: 360 });
                      } else {
                          $.cookie('xxw_portal_v', '1', { expires: 360 });
                      }
                  });
                  $('#v_close').on('click', function(){
                      v_close();
                  });
              }
              */
        });
    </script><link href="http://res.shlll.net/common/v1/css/jquery.scrollbar.css" rel="stylesheet" media="screen"><link href="http://www.shlll.net/resources/css/history.css" rel="stylesheet" media="screen">
    <script src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/jquery.scrollbar.js"></script>
    <script src="./上海学习网_上海最大的综合类免费学习网站,汇聚海量终身学习资源和社区教育资源_files/history.js"></script>
    <script>
        $(function(){
            initHistory();
            /*
            $('.external-scroll').scrollbar({
              //"autoScrollSize": true,
              //"scrollx": $('.external-scroll_x'),
              "scrolly": $('.external-scroll_y')
            });
            */
        });
    </script>
    <style>
        .esplan-sp-item {
            float: left;
            height: 430px;
            width: 310px;
            margin-right: 35px;
        }

            .esplan-sp-item .esplan-cover, .esplan-sp-item .esplan-cover img {
                width: 310px;
                height: 230px;
            }

            .esplan-sp-item .esplan-cover {
                margin-bottom: 10px;
            }

            .esplan-sp-item .esplan-title {
                margin-bottom: 10px;
                color: #d10f1a;
                font-size: 18px;
            }

            .esplan-sp-item .esplan-content {
                height: 105px;
                word-break: break-all;
                font-size: 14px;
                line-height: 1.5em;
            }

            .esplan-sp-item .esplan-enter {
                position: absolute;
                right: 0;
                bottom: 0;
                width: 100px;
            }
    </style>
    <script>
        $(function(){
            if($('.esplan-sp-item').length > 0){
                $('.esplan-sp-item:eq(2)').css('margin-right', '0');
            } else {
                $('#esplan_sp').remove();
            }
        });
    </script>
</body>
</html>