@{
    ViewBag.Title = "齐齐哈尔市民学习网";
}
<div class="container wrap-cont">
    <p>当前位置：/<a href="#" class="pos">首页</a></p>
    <p><img class="banner" src="~/Images/banner.png" /></p>
    <div class="block">
        <table>
            <tr>
                <td><h3 class="home-title">最新新闻</h3></td>
                <td><h3 class="home-title">最新课程</h3></td>
                <td><h3 class="home-title">最新图书</h3></td>
            </tr>
            <tr>
                <td>
                    @foreach (var item in ViewBag.News)
                    { 
                      <p><a href="/News/Show/@item.ID">[@item.Time.ToString("yyyy-MM-dd")] @item.Title</a></p>
                    }
                    <p><a href="/News/Index?tid=0">更多...</a></p>
                </td>
                <td>
                    <p><a href="#">[2015-5-23] 最新课程1</a></p>
                    <p><a href="#">[2015-5-23] 最新课程2</a></p>
                    <p><a href="#">[2015-5-23] 最新课程3</a></p>
                    <p><a href="#">[2015-5-23] 最新课程4</a></p>
                    <p><a href="#">[2015-5-23] 最新课程5</a></p>
                    <p><a href="#">更多...</a></p>
                </td>
                <td>
                    <p><a href="#">[2015-5-23] 最新课程1</a></p>
                    <p><a href="#">[2015-5-23] 最新课程2</a></p>
                    <p><a href="#">[2015-5-23] 最新课程3</a></p>
                    <p><a href="#">[2015-5-23] 最新课程4</a></p>
                    <p><a href="#">[2015-5-23] 最新课程5</a></p>
                    <p><a href="#">更多...</a></p>
                </td>
            </tr>
        </table>
    </div>
    <div class="block">
        <h3 class="home-title">链接</h3>
        @foreach (var item in ViewBag.NfLinks)
        {
            <a href="http://@item.URL" target="_blank"><div class="link-text">@item.Title</div></a>
        }
        <div class="clr"></div>
        <br />
        <a href="#"><img src="#" class="link-img" /></a>
        <a href="#"><img src="#" class="link-img" /></a>
        <a href="#"><img src="#" class="link-img" /></a>
        <a href="#"><img src="#" class="link-img" /></a>
        <a href="#"><img src="#" class="link-img" /></a>
        <a href="#"><img src="#" class="link-img" /></a>
        <a href="#"><img src="#" class="link-img" /></a>
        <a href="#"><img src="#" class="link-img" /></a>
        <a href="#"><img src="#" class="link-img" /></a>
        <div class="clr"></div>
    </div>
</div>




