@{
    ViewBag.Title = "齐齐哈尔市民学习网";
}

<script src="~/Scripts/responsiveslides.min.js"></script>
<div class="container wrap-cont">
    <p>当前位置：/<a href="#" class="pos">首页</a></p>
    <p>
        <ul class="rslides">
            <li><img src="~/Images/banner.png" /></li>
            <li><img src="~/Images/header_bg.jpg" /></li>
            <li><img src="~/Images/banner.png" /></li>
        </ul>
    </p>
    <div class="block">
        <table>
            <tr>
                <td><h3 class="home-title">最新新闻</h3></td>
                <td><h3 class="home-title">最新课程</h3></td>
                <td><h3 class="home-title">最新图书</h3></td>
            </tr>
            <tr>
                <td>
                    @foreach (var item in ViewBag.News)
                    {
                        <p><a href="/News/Show/@item.ID">[@item.Time.ToString("yyyy-MM-dd")] @item.Title</a></p>
                    }
                    <p><a href="/News/Index?tid=0">更多...</a></p>
                </td>
                <td>
                    @foreach (var item in ViewBag.Courses)
                    {
                        <p><a href="/Course/Show/@item.ID">[@item.Time.ToString("yyyy-MM-dd")] @item.Title</a></p>
                    }
                    <p><a href="/Course/Index?tid=0">更多...</a></p>
                </td>
                <td>
                    @foreach (var item in ViewBag.EBooks)
                    {
                        <p><a href="/EBook/Show/@item.ID">[@item.Time.ToString("yyyy-MM-dd")] @item.Title</a></p>
                    }
                    <p><a href="/EBook/Index?tid=0">更多...</a></p>
                </td>
            </tr>
        </table>
    </div>
    <div class="block">
        <h3 class="home-title">链接</h3>
        @foreach (var item in ViewBag.NfLinks)
        {
            <a href="http://@item.URL" target="_blank"><div class="link-text">@item.Title</div></a>
        }
        <div class="clr"></div>
        <br />
        @foreach (var item in ViewBag.FLinks)
        {
            <a href="http://@item.URL" target="_blank"><img src="~/Upload/@item.File.Path" class="link-img" /></a>
        }
        <div class="clr"></div>
    </div>
</div>


<script>
    $(function () {
        $(".rslides").responsiveSlides();
    });
</script>