@{
    ViewBag.Title = "站内搜索";
}
<div id="d_bottom" class="d-bottom" style="visibility: hidden; position: relative;"><div class="d-bottom-c"><div id="d_scrolltop" class="d-scrolltop" style="right: -70px;"><span class="t" onclick="$(document.body).ScrollTo();">顶部</span></div></div></div>
<div class="d-row">
    <div class="d-row-c">
        <div class="d-col-2-8">
            <div class="contentarea">
                <!-- region start: 搜索条件 -->
                <div class="d-searchcondition" style="margin-top: 15px;">
                    <input id="SearchKey" name="SearchKey" type="hidden" value="1">
                    <form action="/ContentQuery/Search" id="SearchForm" method="post" onsubmit="return ChickSearch();">
                        <input data-val="true" data-val-number="字段 Int32 必须是一个数字。" data-val-required="Int32 字段是必需的。" id="SearchType" name="SearchType" type="hidden" value="-1">
                        <input id="action" name="action" type="hidden" value="">
                        <input id="Search" name="Search" maxlength="30" type="text" class="input-big" value="" placeholder="课程、活动、悦读、团队、资讯" style="width: 400px;" onkeydown="if(event.keyCode==13){$('#btnSearch').click();}">
                        &nbsp;
                        <input type="button" class="btn btn-big btn-green" id="btnSearch" onclick="search();" style="width: 70px;" value="搜索">
                    </form>
                </div><!-- region end: 搜索条件 --><!-- region start: 搜索结果标签 -->
                <div id="d_searchtabs" class="d-searchtabs">
                    <a id="headmenu_searchcourse" class="tab_select" href="#">全部<span class="baget"> </span></a>
                    <a id=" headmenu_searchall" class="tab" onclick="SearchLink('11');">课程<span class="baget"> </span></a>
                    <a id="headmenu_searchevent" class="tab" onclick="SearchLink('21');">新闻<span class="baget"> </span></a>
                    <a id="headmenu_searchread" class="tab" onclick="SearchLink('31');">电子书<span class="baget"> </span></a>
                    <a id="headmenu_searchcircle" class="tab" onclick="SearchLink('41');">链接<span class="baget"> </span></a>
                </div>
                <!-- region end: 搜索结果标签 --><!-- region start: 搜索结果列表 -->
                <div id="d_searchresultcourse" class="d-searchresultcourse" style="min-height: 270px; width: 652px;">
                    <div class="body">
                        <div class="item news_min_height">
                            <div class="title" style="padding-left: 0px; display: inline-block; width: 630px;">
                                <a class="trim news_title_max_width" href="（链接）" target="_blank" title="（Title）">（Title）</a>
                                <span class="category">电子书</span>
                            </div>
                            <div class="desc txt-justify" style="padding-left: 0px; color: #999;">
                                <p>（内容）</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="d_pagination" class="pagination" style="display: block;">
                    <span>共（）条记录</span>
                    <a href="javascript:;" class="s">1</a>
                    <a href="javascript:;" class="c" onclick="km_pageno.gopage(2,1,156)">2</a>
                    <a href="javascript:;" class="c" onclick="km_pageno.gopage(2,1,156)">下一页 <i class="icon-angle-right"></i></a>
                    <span>跳转到第</span>&nbsp;<input id="int_pageno" type="text" style="width:20px;" class="int" maxlength="5">&nbsp;<span>页</span>&nbsp;
                    <button type="button" class="btn" style="padding-left:2px;padding-right:2px;" onclick="km_pageno.gopage($('#int_pageno').val(),1,156)">Go</button>
                </div>
            </div>
            <!-- region end: 搜索结果列表 -->
        </div>
        <div class="d-col-2-4">
            <div class="contentarea">
                <!-- region start: 热门搜索 -->
                <div id="d_searchhot" class="d-searchhot">
                    <div class="head">热门搜索</div>
                    <div class="body">
                        <div class="item">
                            <a title="教学设计" href="#" onclick="SearchHot('教学设计')">教学设计</a>
                        </div>
                    </div>
                </div>
                <!-- region end: 热门搜索 -->
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>