@{
    ViewBag.Title = "齐齐哈尔市民学习网|注册";
    Layout = null;
}
<!DOCTYPE html>
<!-- saved from url=(0081)http://member.shlll.net/home/signup?redirect=http://www.shlll.net/main/index.html -->
<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms no-csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths" lang="en" style="">
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>注册_上海学习网</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://member.shlll.net/file/images/logo.ico">



    <link href="http://res.shlll.net/common/v1/css/app_home.css?ver=20140224" rel="stylesheet" media="screen">
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/flproto0.1.0.js"></script>
    <script src="~/Scripts/proto.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/home.signup.js"></script>
</head>
<body class="home__signup">
    <div id="d_main" class="d-main" style="min-width: 1000px;">
        <div class="container">
            <div id="d_top" class="d-top">
                <div id="d_top_c" class="d-top-c">
                    <!-- region start: top -->
                    <div id="d_topmenu" class="d-topmenu">
                        <div class="d-top-nav">
                            <div class="body">
                                <a id="" class="item" href="Home/Index">学习网首页</a>
                                <a id="topmenu_course" class="item" href="Home/Class">课程</a>
                                <a id="topmenu_event" class="item" href="Home/Act">活动</a>
                                <a id="topmenu_book" class="item" href="Home/Read">悦读</a>
                                <a id="topmenu_group" class="item" href="Home/Team">团队</a>
                                <a id="topmenu_news" class="item" href="Home/News">资讯</a>
                            </div>
                        </div>
                        <div class="d-top-weather">
                            <div class="body">
                                <span class="txt" id="span_weather" data-km-url="http://res.shlll.net/modules/shlll/apiproxy?publicpoint=baiduweather&amp;location=[loc]&amp;output=json&amp;ak=1b8027242390d93b9b2111278acd9fe0">天气</span>
                            </div>
                        </div>
                        <div id="d_top_sign" class="d-top-sign">
                            <div class="body">
                                <span class="txt">欢迎来到齐齐哈尔市民学习网</span>
                                <a class="item" href="Home/Login" target="_self">登录</a>
                                <a class="item last" href="#" target="_self">注册</a>
                            </div>
                        </div>
                    </div>
                    <!-- region end: top -->
                </div>
            </div>
            <div id="d_header" class="d-header" style="border-bottom:1px solid #f09e3d;">
                <div id="d_header_c" class="d-header-c">
                    <!-- region start: header -->
                    <div id="d_headerhome" class="d-headerhome">
                        <a class="d-logo logo-use" href="Home/Index"></a>
                        <div class="d-search"></div>
                    </div>
                    <!-- region end: header -->
                </div>
            </div>
            <div id="d_bottom" class="d-bottom" style="visibility: hidden;">
                <div class="d-bottom-c">
                    <div id="d_scrolltop" class="d-scrolltop">
                        <span class="t" onclick="$(document.body).ScrollTo();">顶部</span>
                    </div>
                </div>
            </div>
            <div class="d-row" style="margin-bottom: 20px; padding: 20px 0 20px 0;">
            <div class="d-row-c">
                <div class="d-col-1">
                    <div class="contentarea">
                        <!-- region start: 注册 --><div id="d_signup" class="d-signup" data-km-url="/home/action/signup">
                            <div class="head">
                                上海学习网用户注册
                            </div><div class="body">
                                <table class="tbl">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div>
                                                    用户名
                                                </div>
                                            </td>
                                            <td><div><input type="text" class="int-hs" name="username" style="width:264px;" maxlength="30" autocorrect="off" autocapitalize="off"><br><span class="text">用户名长度在1-30个字之间；只能由字母、数字和下划线组成；不能以下划线开头。例：study_001</span></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    电子邮箱
                                                </div>
                                            </td>
                                            <td><div><input type="text" class="int-hs" name="email" style="width:264px;" maxlength="100" autocorrect="off" autocapitalize="off"><span class="text"></span></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    密码
                                                </div>
                                            </td>
                                            <td><div><input type="password" class="int-hs" name="password" style="width:264px;" maxlength="20" autocorrect="off" autocapitalize="off"><br><span class="text">密码长度在1-20个字之间；只能由字母、数字和下划线组成。</span></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    确认密码
                                                </div>
                                            </td>
                                            <td><div><input type="password" class="int-hs" name="confirmpwd" style="width:264px;" maxlength="20" autocorrect="off" autocapitalize="off"><span class="text"></span></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    验证码
                                                </div>
                                            </td>
                                            <td><div><input type="text" class="int-hs logElm" id="vcode" style="width:140px;" name="vcode" maxlength="4" autocorrect="off" autocapitalize="off" value=""><img id="refreshValidate" style="cursor:pointer;" title="看不清，点击换一张"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    &nbsp;
                                                </div>
                                            </td>
                                            <td>
                                                <div>
                                                    <input type="checkbox" class="chk-1" name="terms">
                                                    &nbsp;<a href="http://member.shlll.net/home/terms" target="_blank">我已经看过并同意《上海学习网网站使用协议》</a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    &nbsp;
                                                </div>
                                            </td>
                                            <td><div><input id="int_submit" type="button" class="btn btn-orange btn-big" value="注册" style="width:120px;"></div></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div>
                                                    &nbsp;
                                                </div>
                                            </td>
                                            <td><div><a href="Home/Login">已经注册过？请登录。</a></div></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div><!-- region end: 注册 -->
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(function () {
                //initRegionContact();
                $('#refreshValidate').on('click', function () {
                    $(this).prop('src', '/common/action/validate?r=' + (new Date()).getTime());
                });
            })
        </script><div class="d-row" style="background-color:#ececec;border-top:2px solid #474747;">
            <div class="d-row-c">
                <div class="d-col-1">
                    <div class="contentarea">
                        <!-- region start: 帮助导航 --><div class="d-help">
                            <div class="head"></div><div class="body">
                                <div class="item" style="width:158px;">
                                    <div style="text-align:left;">
                                        <a href="http://weibo.com/shlll" target="_blank" class="ha">
                                            <img src="~/Scripts/qrcode-weibo.jpg" width="125" height="125" border="0"><br>
                                            &nbsp;&nbsp;关注上海学习网微博
                                        </a>
                                    </div>
                                </div><div class="item" style="width:158px;border-right:1px solid #a1a1a1;">
                                    <div style="text-align:left;">
                                        <a href="javascript:;" class="ha">
                                            <img src="~/Scripts/qrcode-weixin.jpg" width="125" height="125" border="0"><br>
                                            &nbsp;&nbsp;关注上海学习网微信
                                        </a>
                                    </div>
                                </div><div class="item" style="width:140px;border-right:1px solid #a1a1a1;border-left:1px solid #f9f9f9;"><div class="h">关于我们</div><a href="http://www.shlll.net/home/intro" target="_blank">网站介绍</a><a href="http://www.shlll.net/home/history" target="_blank">发展历程</a><a href="http://www.shlll.net/home/contactus" target="_blank">联系方式</a><a href="http://www.shlll.net/home/legal" target="_blank">法律声明</a></div><div class="item" style="width:140px;border-right:1px solid #a1a1a1;border-left:1px solid #f9f9f9;"><div class="h">新手指南</div><a href="~/Scripts/注册_上海学习网.htm" target="_blank">网站注册</a><a href="http://member.shlll.net/home/signup?redirect=http://www.shlll.net/main/index.html#" target="_blank">个人资料</a><a href="http://member.shlll.net/home/signup?redirect=http://www.shlll.net/main/index.html#" target="_blank">课程学习</a><a href="http://member.shlll.net/home/signup?redirect=http://www.shlll.net/main/index.html#" target="_blank">图书阅读</a></div><div class="item" style="width:140px;border-right:1px solid #a1a1a1;border-left:1px solid #f9f9f9;"><div class="h">支持服务</div><a href="http://www.shlll.net/home/cooperation" target="_blank">机构合作</a><a href="http://www.shlll.net/home/sitemap" target="_blank">网站地图</a><a href="http://learning.shlll.net/home/book/index4.html" target="_blank">电子期刊</a><a href="http://online.sherc.net:8080/VisionIM/livechat/chat.html" target="_blank">在线客服</a></div><div class="item" style="width:216px;padding:0 0 0 40px;border-left:1px solid #f9f9f9;"><div class="h2">移动学习：上海乐学</div><a class="icon-mobile-apple"><div style="color:#9ca0ac;">iPhone 客户端</div><div style="color:#9ca0ac;"><b>App Store</b></div></a><a href="http://member.shlll.net/file/Download/shequ.1.0.apk" class="icon-mobile-android" target="_blank"><div style="color:#9ca0ac;">Android 客户端</div><div style="color:#60636c;"><b>本地下载</b></div></a></div><div class="clear"></div>
                            </div>
                        </div><!-- region end: 帮助导航 -->
                    </div>
                </div>
            </div>
        </div><div id="d_footer" class="d-footer footer-use">
            <div id="d_footer_c" class="d-footer-c">
                <!-- region start: 页脚 --><div class="l">
                    <img src="~/Images/kf.jpg" width="33" height="29" style="vertical-align:middle;">
                    &nbsp;客服：021-25653066 <span style="color:#999;">工作日（8:00—20:00）双休日（8:00—16:40）</span>
                </div><div class="r"><div class="lnk">上海市学习型社会建设与终身教育促进委员会主管</div><div class="lnk">上海开放大学承建</div><div class="lnk">2014 © 版权所有</div><div class="lnk">沪ICP备09027389号</div><div class="lnk">1.7.2015.420</div></div><div class="clear"></div><!-- region end: 页脚 --><!--<div>v1_01</div>-->
            </div>
        </div>
        <script>
            var jsName = 'home.signup';
            $proto.scriptLoad[jsName] = {
                load: false,
                path: "http://res.shlll.net/common/v1/js/home/" + jsName + ".js?ver=[v]"
            };
        </script>
    </div>
    </div>
    <script>
        var thisLocation = window.location;
        var memberSiteURL = 'http://member.shlll.net/';
        $proto.basepath.home = '/usercenter/useraccount';
        $proto.basepath.personalhome = '/usercenter/historycourse';
        $proto.basepath.login = memberSiteURL + 'home/login?redirect=' + thisLocation;//登录页面
        $proto.basepath.signup = memberSiteURL + 'home/signup?redirect=' + thisLocation;//注册页面
        $proto.basepath.loginaction = '/home/action/login';//登录ajax的请求地址
        //$proto.basepath.loginaction='...';//登录ajax的请求地址
        //$proto.basepath.logoutaction = memberSiteURL + 'home/action/logout?redirect=' + thisLocation;//退出系统的请求地址
        $proto.basepath.logoutaction = '/home/action/logout?redirect=' + thisLocation;//退出系统的请求地址
        $proto.basepath.profileaction = '/home/action/checkinfo';
    </script>
    <script src="~/Scripts/init.js"></script><div style="display:none;">
        <script type="text/javascript">
            var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F6ca93febbe5f3e3b14f8ee9b8ef13802' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script src="~/Scripts/h.js" type="text/javascript"></script>
    </div>
</body>
</html>