@{
    ViewBag.Title = "Test1";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/video.js"></script>

<script type="text/javascript">
    player("http://218.8.130.134:8001/1.flv", 600, 400, 1, "start.jpg");
</script>
<h2></h2>




