@{
    ViewBag.Title = "Test1";
   
}
<script src="~/Scripts/video.js"></script>

<script type="text/javascript">
    player("http://218.8.130.134:8002/new/1.flv", 600, 400, 1, "start.jpg");
</script>
<h2></h2>




