@{
    ViewBag.Title = "I实验";
    Layout = "~/Views/Shared/_Layout.cshtml";
	int i=0;
}

<div class="d-row" style="border-top: 1px solid #3169ea;">
    <div class="d-row-c" style="margin-top:10px">
        <div class="d-col-2-12">
            <div class="contentarea">
                <div id="livenew" class="d-livenew" style="width:1000px">
                    <div class="body" id="itrial_body">
                        <div id="slide_bookhot" class="slidecontainer" style="width:1000px">
                            @foreach (var item in ViewBag.ITrials as List<ITrial>)
                            {
                                <div class="item" style="width: 230px;margin: 0 20px 20px 0;">
                                    <a class="cover" href="@item.URL" target="_blank" style="width: 230px;">
                                        <img src="/ITrial/ShowPicture/@item.ID" width="230" height="158" />
                                    </a>
                                    <div class="title trim">
                                        <a href="@item.URL" style="text-align:center">@item.Title</a>
                                    </div>
                                    <div class="date" title="">@item.Time</div>
                                </div>
								i++;
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$(document).ready(function(){
				var word_list=@i;
				var height=Math.ceil(word_list/4)*270;
				$("#itrial_body").height(height);
});						
</script>