@{
    ViewBag.Title = ViewBag.ITrualShow.Title + "_齐齐哈尔学习网";
}
<div id="product-intro" class="m-item-grid clearfix">
    <div id="preview" clstag="shangpin|keycount|product|mainpicarea_1">
        <div id="spec-n1" class="jqzoom">
            <img data-img="1" width="350" height="350" src="">
        </div>
        <div id="spec-list">
            <a class="spec-control disabled" id="spec-forward"></a>
            <a class="spec-control" id="spec-backward"></a>
            <div class="spec-items" style="position: absolute; width: 310px; height: 54px; overflow: hidden;">
                <ul class="lh" style="position: absolute; width: 372px; height: 54px; top: 0px; left: 0px;">
                    <!--图片列表-->
                    @foreach()
                    {
                    <li><img class="img-hover" alt="" src=""></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="m-item-inner" clstag="shangpin|keycount|product|zhushujuqu_1">
        <div id="itemInfo">
            <div id="name">
                <!--Title-->
                <h1></h1>
                <div id="p-ad" class="p-ad J-ad-1592520">
                    <!--Description-->
                </div>
                <div id="p-ad-phone" class="p-ad">
                    <!--Time-->
                </div>
            </div>
            <div id="summary">
                <div id="summary-price" style="margin: 5px 0px;">
                    <div class="dt">价 格：</div>
                    <div class="dd">
                        <strong class="p-price" id="jd-price"><!--Price--></strong>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="product-detail" class="m m1"  >
    <div class="ui-switchable-panel ui-switchable-panel-selected" style="display: block;">
        <div class="mc" id="product-detail-1">
            <div class="detail-content clearfix">
                <div class="detail-content-wrap">
                    <div class="detail-content-item">
                        <div id="J-detail-content">
                            <div style="width:750px;margin:0 auto;padding:0;">
                                <table cellpadding="0" cellspacing="0">
                                    <tbody>
                                        @foreach()
                                        {
                                            <tr>
                                                <td><img src="" class="" style=""></td>
                                            </tr>
                                        }
                                       

                                    </tbody>
                                </table>
                            </div><br>
                        </div><!-- #J-detail-content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>