
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container wrap-cont">
    <div class="block">
        <a href="/Live/Channel/1">频道1</a>
        <a href="/Live/Channel/2">频道2</a>
    </div>
</div>

