
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $("#topmenu_live").attr("class", "item_selected");
</script>
<div class="container wrap-cont">
    <div class="block">
       暂无
    </div>
</div>

