@using QqhrCitizen.Models;
@{
    Live live = @ViewBag.Live;
    ViewBag.Title = live.Title + "_齐齐哈尔市民学习网";
}
<script>
    $("#topmenu_live").attr("class", "item_selected");
</script>
<!-- functionality -->
<script type="text/javascript" src="~/Scripts/jquery_live.js"></script>
<script src="~/Scripts/video.js"></script>

<div id="d_menu" class="d-menu menu-bok">
    <div id="d_menu_c" class="d-menu-c">
        <!-- region start: menu -->
        <div id="d_headmenu" class="d-headmenu">
            <div class="body">
                <a class="item" href="/EBook/Index" id="headmenu_default">直播首页</a>
                <a class="item" href="/Live/Review" id="headmenu_review">往期回顾</a>
            </div>
        </div><!-- region end: menu -->
    </div>
</div>
<div class="d-row">
    <div class="d-row-c">
        <div class="d-col-2-12">
            <div class="contentarea">
                <div id="d_coursedetail" class="d-coursedetail" style="width: 1000px;text-align:center">
                    <h2>@live.Title</h2>
                    <input type="hidden" name="name" id="LessionID" value="@live.ID" />
                    <script> player("@live.Path", 800, 400, 1, "start.jpg");</script>
                </div>

            </div>
        </div>

        <div class="clear"></div>
    </div>
</div>