@{
    ViewBag.Title = "发现课程_齐齐哈尔市民学习网";
}
<div id="d_menu" class="d-menu menu-cou"><div id="d_menu_c" class="d-menu-c"><!-- region start: menu --><div id="d_headmenu" class="d-headmenu"><div class="body"><a id="headmenu_default" class="item" href="/Course/index">课程首页</a><a id="headmenu_discovery" class="item_selected" href="/Course/Discovery">发现课程</a></div></div><!-- region end: menu --></div></div>
<div id="d_bottom" class="d-bottom" style="visibility: hidden;"><div class="d-bottom-c"><div id="d_scrolltop" class="d-scrolltop"><span class="t" onclick="$(document.body).ScrollTo();">顶部</span></div></div></div>
<div class="d-row" style="margin-bottom: 20px; padding: 30px 0 0 0;">
    <div class="d-row-c">
        <div class="d-col-2-3">
            <div class="contentarea" style="border-right: 1px solid #ddd;">
                <div id="d_12FF2473CE16B988" class="d-coursecategory">
                    <div class="head">
                        <span onclick="doSubmit(0,'12FF2473CE16B988')">
                            终身教育
                        </span>
                    </div><div class="body fselect"><select class="select-hid" id="select_category_a" name="_SecondeTagList" onchange="SearchWithTag()"><option selected="selected" value="">-</option><option value="94757066CB8E6EF4">道德修养</option><option value="9E2D1044552827FF">科学素养</option><option value="1684162F3D5B80CC">文化涵养</option><option value="9FD0B348E7815F41">公民意识</option><option value="14466E1865D8F7B5">生活保健</option><option value="CA38AF8354615727">家庭安全</option><option value="A3FD01D12E35342C">家庭教育</option><option value="E77A4BFBC80437F9">休闲技艺</option><option value="2F3C7E81FA0FC3C6">家庭理财</option><option value="7EA2617DDC8BCCA8">法律维权</option><option value="65B54C61082B0A14">生活环境</option><option value="07FCC4B0637758A8">语言文字</option><option value="2493AB3EABDCAF79">信息技术</option><option value="02962D588EB6C731">就业指导</option><option value="2D50DC381410567E">职业发展</option></select><div id="d_select_category_a" class="cff3"><div data-txt="道德修养" class="cfp3" onclick="km_fselect.clk('select_category_a','94757066CB8E6EF4','道德修养','');">道德修养</div><div data-txt="科学素养" class="cfp3" onclick="km_fselect.clk('select_category_a','9E2D1044552827FF','科学素养','');">科学素养</div><div data-txt="文化涵养" class="cfp3" onclick="km_fselect.clk('select_category_a','1684162F3D5B80CC','文化涵养','');">文化涵养</div><div data-txt="公民意识" class="cfp3" onclick="km_fselect.clk('select_category_a','9FD0B348E7815F41','公民意识','');">公民意识</div><div data-txt="生活保健" class="cfp3" onclick="km_fselect.clk('select_category_a','14466E1865D8F7B5','生活保健','');">生活保健</div><div data-txt="家庭安全" class="cfp3" onclick="km_fselect.clk('select_category_a','CA38AF8354615727','家庭安全','');">家庭安全</div><div data-txt="家庭教育" class="cfp3" onclick="km_fselect.clk('select_category_a','A3FD01D12E35342C','家庭教育','');">家庭教育</div><div data-txt="休闲技艺" class="cfp3" onclick="km_fselect.clk('select_category_a','E77A4BFBC80437F9','休闲技艺','');">休闲技艺</div><div data-txt="家庭理财" class="cfp3" onclick="km_fselect.clk('select_category_a','2F3C7E81FA0FC3C6','家庭理财','');">家庭理财</div><div data-txt="法律维权" class="cfp3" onclick="km_fselect.clk('select_category_a','7EA2617DDC8BCCA8','法律维权','');">法律维权</div><div data-txt="生活环境" class="cfp3" onclick="km_fselect.clk('select_category_a','65B54C61082B0A14','生活环境','');">生活环境</div><div data-txt="语言文字" class="cfp3" onclick="km_fselect.clk('select_category_a','07FCC4B0637758A8','语言文字','');">语言文字</div><div data-txt="信息技术" class="cfp3" onclick="km_fselect.clk('select_category_a','2493AB3EABDCAF79','信息技术','');">信息技术</div><div data-txt="就业指导" class="cfp3" onclick="km_fselect.clk('select_category_a','02962D588EB6C731','就业指导','');">就业指导</div><div data-txt="职业发展" class="cfp3" onclick="km_fselect.clk('select_category_a','2D50DC381410567E','职业发展','');">职业发展</div><div class="clear"></div></div></div>
                </div><div id="d_DBE05079A4AF427A" class="d-coursecategory">
                    <div class="head">
                        <span onclick="doSubmit(0,'DBE05079A4AF427A')">
                            基础教育
                        </span>
                    </div><div class="body fselect"><select class="select-hid" id="select_category_b" name="_SecondeTagList" onchange="SearchWithTag()"><option selected="selected" value="">-</option><option value="230BCA114088ECB4">学前阶段</option><option value="A260BDB8CB3560A7">小学阶段</option><option value="84417DAFF7E6CF99">初中阶段</option><option value="A3F55488386852D0">高中阶段</option></select><div id="d_select_category_b" class="cff3"><div data-txt="学前阶段" class="cfp3" onclick="km_fselect.clk('select_category_b','230BCA114088ECB4','学前阶段','');">学前阶段</div><div data-txt="小学阶段" class="cfp3" onclick="km_fselect.clk('select_category_b','A260BDB8CB3560A7','小学阶段','');">小学阶段</div><div data-txt="初中阶段" class="cfp3" onclick="km_fselect.clk('select_category_b','84417DAFF7E6CF99','初中阶段','');">初中阶段</div><div data-txt="高中阶段" class="cfp3" onclick="km_fselect.clk('select_category_b','A3F55488386852D0','高中阶段','');">高中阶段</div><div class="clear"></div></div></div>
                </div><div id="d_C3E60BAC491015EB" class="d-coursecategory">
                    <div class="head">
                        <span onclick="doSubmit(0,'C3E60BAC491015EB')">
                            职业教育
                        </span>
                    </div><div class="body fselect"><select class="select-hid" id="select_category_c" name="_SecondeTagList" onchange="SearchWithTag()"><option selected="selected" value="">-</option></select><div id="d_select_category_c" class="cff3"><div class="clear"></div></div></div>
                </div><div id="d_BF0612F5B717A903" class="d-coursecategory">
                    <div class="head">
                        <span onclick="doSubmit(0,'BF0612F5B717A903')">
                            高等教育
                        </span>
                    </div><div class="body fselect"><select class="select-hid" id="select_category_d" name="_SecondeTagList" onchange="SearchWithTag()"><option selected="selected" value="">-</option></select><div id="d_select_category_d" class="cff3"><div class="clear"></div></div></div>
                </div>
            </div><div><select id="select_category" style="display: none"><option value="">-</option><option value="12FF2473CE16B988">终身教育</option><option value="DBE05079A4AF427A">基础教育</option><option value="C3E60BAC491015EB">职业教育</option><option value="BF0612F5B717A903">高等教育</option><option value="CF7FD68D3AB9C7F7">主题资源</option></select></div>
        </div>
        <div class="d-col-2-9">
            <div class="contentarea" style="padding: 0 0 0 25px;">
                <!-- region start: 课程标签 -->
                <!-- region end: 课程标签 -->
                <!-- region start: 课程列表 -->
                <div id="d_coursesearch" class="d-coursesearch">
                    <div class="head">
                        <div class="filter fselect">
                            <select id="select_category_sort" class="select-hid">
                                <option value="1" selected="selected">最热门</option>
                                <option value="2">最新</option>
                            </select>
                            <div id="d_select_category_sort" class="cff3">
                                <div data-txt="最热门" class="cfp3_s" onclick="km_fselect.clk('select_category_sort','1','最热门','');">最热门</div>
                                <div data-txt="最新" class="cfp3" onclick="km_fselect.clk('select_category_sort','2','最新','');">最新</div>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                    <input id="SearchItem" type="hidden" value="">
                </div>
            </div><div class="clear"></div>
        </div><div class="clear"></div>
    </div>
</div>
<script>
    function dosearch() {
        $('#SearchForm').submit();
    }

    function ChickSearch() {
        //var _t = $('#s_d_t').val();
        var _kw = $.trim($('#txtSearch').val());
        return validateSearchKey(_kw);
    }

</script>