
@{
    ViewBag.Title = "课程首页";
}

<input type="hidden" name="name" id="tid" value="@ViewBag.Tid" />
<div class="lstCourse container" style="min-height:500px;">

</div>


<script>
    tid = $("#tid").val();
</script>


