@using QqhrCitizen.Models
@using QqhrCitizen.Models.ViewModel
@{
    ViewBag.Title = "课程简介_齐齐哈尔市民学习网";
}
<div id="d_menu" class="d-menu menu-cou">
    <div id="d_menu_c" class="d-menu-c">
        <!-- region start: menu -->
        <div id="d_headmenu" class="d-headmenu">
            <div class="body">
                <a id="headmenu_default" class="item" href="/Course/Index" target="_parent">课程首页</a>
                <a id="headmenu_discovery" class="item" href="/Course/Discovery" target="_parent">发现课程</a>
            </div>
        </div>
        <!-- region end: menu -->
    </div>
</div>
<div id="d_main" class="d-main" style="min-width: 1000px;">
    <div class="container">
        <div id="d_bottom" class="d-bottom" style="visibility: hidden; position: relative;">
            <div class="d-bottom-c">
                <div id="d_scrolltop" class="d-scrolltop" style="right: -70px;">
                    <span class="t" onclick="$(document.body).ScrollTo();">顶部</span>
                </div>
            </div>
        </div>
        <div class="d-row" style="padding: 20px 0 0 0;">
            <div class="d-row-c">
                <div class="d-col-2-8">
                    <div class="contentarea">
                        <!-- region start: 课程信息 -->
                        <div id="d_coursedetail" class="d-coursedetail">
                            <div class="cover">
                                <img src="/File/Course/CoursePic/Import/20140704/ZSE0M12021.jpg" data-echo="/File/Course/CoursePic/Import/20140704/ZSE0M12021.jpg" class="imgCoursePic" data-error="/file/Images/Default/course_default_184_184.jpg">
                            </div>
                            <div class="info">
                                <div class="title">中华养生宝典</div><div class="owner">

                                    <span class="star star30" id="star"></span>
                                </div>
                                <div class="stat">
                                    <span id="info1">学习人次：2458693</span>
                                </div>
                                <div class="stat">
                                    <span id="info3">21人关注了该课程</span>
                                </div>
                                <div id="pushStar" class="star-comment" style="margin-top: 5px;">
                                    <span class="txt">评价：</span>
                                    <span class="star star0" data-km-star="0"></span>
                                    <span class="comment">&nbsp;</span>
                                    <input type="hidden" name="Level" value="">
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="action">
                                <div class="l">
                                    <button type="button" class="btn btn-green" onclick="Attention('A299ECE37655D262')">关注课程</button>
                                </div>
                                <div class="r">
                                    <span class="dropdown">
                                        <a href="javascript:void('');" onclick="km_kb._set($$('d_dropdown_share'),null,function (){});">分享到</a>
                                        <div id="d_dropdown_share" class="d-dropdown-share" style="display: none; left: -65px;">
                                            <a class="share sina" href="#" data-service="sina">新浪微博</a>
                                            <a class="share qq_t" href="#" data-service="qq_t">腾讯微博</a>
                                            <a class="share douban" href="#" data-service="douban">豆瓣</a>
                                            <a class="share netease" href="#" data-service="netease">网易微博</a>
                                            <a class="share renren" href="#" data-service="renren">人人网</a>
                                            <a class="share kaixin" href="#" data-service="kaixin">开心网</a>
                                            <a class="share sohu" href="#" data-service="sohu">搜狐微博</a>
                                        </div>
                                    </span>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>
                        <!-- region end: 课程信息 -->
                        <!-- region start: 课程简介 -->
                        <div id="d_courseintro" class="d-courseintro">
                            <div class="head">课程简介</div><div class="body">
                                <div class="area txt-justify">
                                    随着人们物质生活水平和精神文化生活的日益丰富，健康和长寿将日益成为举世关注的重要问题。特别是在竞争与压力并重的今天，人们越来越渴望健康，盼望长寿。但是怎样才能健康？又如何能达到天年？本课程将为您细述养生之道，展现中国养生文化这棵充满东方神秘色彩的智慧之树。
                                </div>
                                <!--<div class="bot">
                                    <a href="javascript:;" onclick="sub_showhidepart('d_courseintro',168)">显示全部</a>
                                </div>-->
                            </div>
                        </div><!-- region end: 课程简介 --><!-- region start: 课件列表 -->
                        <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 25px 0 0;">
                        <div id="d_courseware" class="d-courseware">
                            <div class="head">课件列表</div>
                            <div class="body">
                                <div class="item" id="Ware_908">
                                    <a class="name" target="_blank" href="/Ware/Ware908.html" title="先秦时期诸子百家养生之论（一）">先秦时期诸子百家养生之论（一）</a>
                                    <span class="hour"></span><span class="sign">822727人学过</span>
                                </div>
                                <!--
                                     <div class="item" id="Ware_908">
                                    <a class="name" target="_blank" href="（课程页面）" title="（课程名）">（课程名）</a>
                                    <span class="hour"></span><span class="sign">（学习人数）</span>
                                </div>
                                -->
                            </div>
                        </div><!-- region end: 课件列表 -->
                        <!-- region start: 课程附件 -->
                        <!-- region end: 课程附件 -->
                        <!-- region start: 课程标签 -->
                        <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 25px 0 0;">
                        <div id="d_coursetag" class="d-coursetag">
                            <div class="head">课程标签</div>
                            <div class="body">
                                <a class="item" href="/course/discovery/12FF2473CE16B988/?parm=12FF2473CE16B988">终身教育</a>
                                <!--
                                    <a class="item" href="(标签页面)">（标签名）</a>
                                -->
                            </div>
                        </div>
                        <!-- region end: 课程标签 -->
                        <!-- region start: 系列课程 --><!-- region end: 系列课程 -->
                        <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 25px 0 0;">
                        <!-- region start: 大家还喜欢的课程 -->
                        <div id="d_courselikebyuser" class="d-courselikebyuser">
                            <div class="head">
                                大家还喜欢的课程
                                <span class="turn">
                                    <span class="dot_select" onclick="km_slide.dottran('slide_courselikebyuser',0,330)"></span>
                                    <span class="dot" onclick="km_slide.dottran('slide_courselikebyuser',1,330)"></span>
                                    <span class="dot" onclick="km_slide.dottran('slide_courselikebyuser',2,330)"></span>
                                </span>
                            </div>
                            <div class="body">
                                <div id="slide_courselikebyuser" class="slidecontainer">
                                    <div class="item">
                                        <div class="title">
                                            <a href="/Course/Course8000.html" target="_blank">谁误读了贝多芬</a>
                                        </div>
                                        <span class="signed">34883</span>
                                        <a class="cover" href="/Course/Course8000.html" target="_blank">
                                            <img class="imgCoursePicM" src="http://res.shlll.net/common/v1/images/transparent.png" data-echo="/File/Course/CoursePic/Import/20140704/ZSH0M12003.jpg" data-error="/file/Images/Default/course_default_184_184.jpg" title="谁误读了贝多芬">
                                        </a>
                                    </div>
                                    <!--
                                        <div class="item">
                                        <div class="title">
                                            <a href="（课程页面）" target="_blank">课程名</a>
                                        </div>
                                        <span class="signed">34883</span>
                                        <a class="cover" href="（课程页面）" target="_blank">
                                            <img class="imgCoursePicM" src="（课程图片路径）" data-echo="（课程图片路径）" data-error="（错误图片路径）" title="（课程名）">
                                        </a>
                                    </div>
                                    -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- region end: 大家还喜欢的课程 -->
                    <hr style="border: none; height: 1px; background-color: #ccc; margin: 20px 25px 0 0;">
                    <div id="d_coursecomment" class="d-coursecomment">
                    </div>
                </div>
                <div class="d-col-2-4">
                    <div class="contentarea">
                        <div id="Record" class="d-courseaction well">
                            <p> 开始学习课件：先秦时期诸子百家养生之论（一）</p>
                            <p style="text-align: center; border-top: 1px solid #ccc; padding-top: 20px;">
                                <a href="/Ware/Ware908.html" class="btn btn-big btn-orange" style="width: 150px;" target="_blank">开始学习</a>
                            </p>
                        </div>
                        <!-- region start: 学习动态 -->
                        <div id="d_learningactivitybycourse" class="d-learningactivitybycourse">
                            <div class="head">学习动态</div>
                            <div class="body">
                                <div id="feed_learningactivitybycourse" class="feedcontainer" style="top: 0px;">
                                    <div class="item">
                                        <a class="userportrait" href="#">
                                            <img class="imgMemberPicS" style="height:20px;width:20px;vertical-align:baseline;" src="/File/Images/Predefine/icon/130.jpg" onerror="this.onerror='';this.src='/file/Images/Default/member_default_120_120.jpg'">
                                        </a>
                                        <span class="gender male"></span>
                                        <span class="createtime">14天前</span>
                                        <a class="owner" href="#" title="lirongjin_01">lirongjin_01</a>
                                        <div class="content">
                                            观看了在线课程
                                            <a href="/Course/Course8052.html" title="中华养生宝典" target="_blank">中华养生宝典</a>
                                            中的：
                                            <a target="_blank" href="/Ware/Ware917.html" title="中国养生文化的特征（一）">中国养生文化的特征（一）</a>
                                        </div>
                                    </div>
                                    <!--
                                        <div class="item">
                                        <a class="userportrait" href="#">
                                            <img class="imgMemberPicS" style="height:20px;width:20px;vertical-align:baseline;" src="（课程图片路径）" onerror="this.onerror='';this.src='（错误图片路径）'">
                                        </a>
                                        <span class="gender male"></span>
                                        <span class="createtime">（发布时间）</span>
                                        <a class="owner" href="#" title="（用户昵称）">（用户昵称）</a>
                                        <div class="content">
                                            观看了在线课程
                                            <a href="/Course/Course8052.html" title="（课程名）" target="_blank">（课程名）</a>
                                            中的：
                                            <a target="_blank" href="（课程小节页面路径）" title="（课程小节名）">（课程小节名）</a>
                                        </div>
                                    </div>
                                        -->
                                </div>
                            </div>
                        </div>
                        <!-- region end: 学习动态 -->
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
