@{
    ViewBag.Title = "发现新闻_齐齐哈尔市民学习网";
}
<div id="d_menu" class="d-menu menu-cou">
    <div id="d_menu_c" class="d-menu-c">
        <!-- region start: menu -->
        <div id="d_headmenu" class="d-headmenu">
            <div class="body">
                <a id="headmenu_default" class="item" href="/News/Index">新闻首页</a>
                <a id="headmenu_discovery" class="item_selected" href="/News/Discovery">发现新闻</a>
            </div>
        </div>
        <!-- region end: menu -->
    </div>
</div>
<div id="d_bottom" class="d-bottom" style="visibility: hidden;"><div class="d-bottom-c"><div id="d_scrolltop" class="d-scrolltop" style="right: -70px;"><span class="t" onclick="$(document.body).ScrollTo();">顶部</span></div></div></div>
<div class="d-row" style="margin-bottom: 20px; padding: 30px 0 0 0;">
    <div class="d-row-c">
        <div class="d-col-2-3">
            <div class="contentarea" style="border-right: 1px solid #ddd;">
                <div id=" " class="d-coursecategory">
                    <div class="head">
                        <span>
                            (大类名)
                        </span>
                    </div>
                    <div class="body fselect">
                        <select class="select-hid" id="select_category_a" name="_SecondeTagList" onchange="SearchWithTag()">
                            <option selected="selected" value="">-</option>
                            <option value="（小类名）">（小类名）</option>
                        </select>
                        <div id="d_select_category_a" class="cff3">
                            <div data-txt="（小类名）" class="cfp3">（小类名）</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-col-2-9">
            <div class="contentarea" style="padding: 0 0 0 25px;">
                <!-- region start: 课程标签 --><!-- region end: 课程标签 --><!-- region start: 课程列表 --><div id="d_coursesearch" class="d-coursesearch">
                    <div class="head"><div class="filter fselect"><select id="select_category_sort" class="select-hid"><option value="1" selected="selected">最热门</option><option value="2">最新</option></select><div id="d_select_category_sort" class="cff3"><div data-txt="最热门" class="cfp3_s" onclick="km_fselect.clk('select_category_sort','1','最热门','');">最热门</div><div data-txt="最新" class="cfp3" onclick="km_fselect.clk('select_category_sort','2','最新','');">最新</div><div class="clear"></div></div></div></div><div id="d_main" class="d-main" style="width: 725px; min-width: 1000px;">
                        <div class="d-row" style="width: 725px; margin-bottom: 20px; padding: 1px 0 0 0;">
                            <div class="d-row-c" style="width: 725px;">
                                <div class="container" style="width: 725px;">
                                    <div class="d-col-2-9" style="width: 725px;">
                                        <div class="contentarea">
                                            <!-- region start: 课程列表 --><div id="d_coursesearch" class="d-coursesearch">
                                                <div class="body">
                                                    <div class="item">
                                                        <div class="title"><a href="/Course/Course8052.html" target="_blank">中华养生宝典</a></div><div class="info"><span class="star star30"></span></div><div class="desc">
                                                            随着人们物质生活水平和精神文化生活的日益丰富，健康和长寿将日益成为举世关注的重要问题。特别是在竞争与压力并重的今天，人们越来越渴望健康，盼望长寿。但是怎样才能健...
                                                        </div><div class="add"></div><div class="cover"><a href="/Course/Course8052.html" target="_blank"><img class="imgCoursePicM" src="/file/Images/Default/course_default_184_184.jpg" data-echo="/File/Course/CoursePic/Import/20140704/ZSE0M12021.jpg" data-error="/file/Images/Default/course_default_184_184.jpg"></a></div>
                                                    </div>
                                                    <!--
                                                        <div class="item">
                                                        <div class="title">
                                                            <a href="..." target="_blank">...</a>
                                                        </div>
                                                        <div class="info">
                                                            <span class="star star30"></span>
                                                        </div>
                                                        <div class="desc">
                                                            ...
                                                        </div>
                                                        <div class="add"></div>
                                                        <div class="cover">
                                                            <a href="..." target="_blank">
                                                                <img class="imgCoursePicM" src="..." data-echo="..." data-error="...">
                                                            </a>
                                                        </div>
                                                    </div>
                                                    -->
                                                    <!--region start:page--><div id="d_pagination" class="pagination" style="display: block;">
                                                        <span>共 8655 条记录</span><a href="javascript:;" class="s">1</a><a href="javascript:;" class="c" onclick="km_pageno.gopage(2,1,866)">2</a>
                                                        <!--<a href="javascript:;" class="c" onclick="km_pageno.gopage(3,1,866)">3</a>
                                                        <a href="javascript:;" class="c" onclick="km_pageno.gopage(4,1,866)">4</a>
                                                        <a href="javascript:;" class="c" onclick="km_pageno.gopage(5,1,866)">5</a>
                                                        <a href="javascript:;" class="c" onclick="km_pageno.gopage(6,1,866)">6</a>
                                                        <a href="javascript:;" class="c" onclick="km_pageno.gopage(7,1,866)">7</a>
                                                        <a href="javascript:;" class="c" onclick="km_pageno.gopage(8,1,866)">8</a>
                                                        <a href="javascript:;" class="c" onclick="km_pageno.gopage(9,1,866)">9</a>
                                                        <a href="javascript:;" class="c" onclick="km_pageno.gopage(10,1,866)">10</a>-->
                                                        <a href="javascript:;" class="c" onclick="km_pageno.gopage(2,1,866)">
                                                            下一页
                                                            <i class="icon-angle-right"></i>
                                                        </a><span>跳转到第</span>&nbsp;
                                                        <input id="int_pageno" type="text" style="width:20px;" class="int" maxlength="5">&nbsp;
                                                        <span>页</span>&nbsp;
                                                        <button type="button" class="btn" style="padding-left:2px;padding-right:2px;" onclick="km_pageno.gopage($('#int_pageno').val(),1,866)">Go</button>
                                                    </div><!--region end:page-->
                                                </div>
                                            </div><!-- region end: 课程列表 -->
                                        </div>
                                    </div><div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div><input id="SearchItem" type="hidden" value="">
                </div>
            </div><div class="clear"></div>
        </div><div class="clear"></div>
    </div>
</div>