
@{
    ViewBag.Title = "新闻首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" name="name" id="tid" value="@ViewBag.Tid" />
<div class="lstNews container" style="min-height:500px;">
    
</div>


<script>
    tid = $("#tid").val();
</script>
