
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<input type="hidden" name="name" id="tid" value="@ViewBag.Tid" />
<div class="lstNews container">

</div>


<script>
    tid = $("#tid").val();
</script>
