@{
    ViewBag.Title = "新闻首页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" name="name" id="tid" value="@ViewBag.Tid" />


<div class="container" style="min-height:500px;">
    <p>当前位置：/<a href="/News/Index?tid=0" class="pos">新闻</a>/<a href="/News/Index?tid=@ViewBag.Tid" class="pos">@ViewBag.Type</a>
</p>
    <div class='block main'>
        <table class="lstNews"></table>
    </div>
    <div class='block sidebar'></div>
    <div class="clr"></div>
</div>

<script>
    tid = $("#tid").val();
</script>
