@using QqhrCitizen.Models;
@{
    ViewBag.Title = "新闻首页_齐齐哈尔市民学习网";
    ViewBag.Search = "新闻、标签";
}
<script>
    $("#topmenu_news").attr("class", "item-selected");
</script>
<div id="d_menu" class="d-menu menu-msg">
    <div id="d_menu_c" class="d-menu-c">
        <!-- region start: menu -->
        <div id="d_headmenu" class="d-headmenu">
            <div class="body">
                <a id="headmenu_default" class="item_selected" href="/News/Index">新闻首页</a>
                <a id="headmenu_discovery" class="item" href="/News/Discovery/0">发现新闻</a>
            </div>
        </div>
        <!-- region end: menu -->
    </div>
</div>
<div class="d-row" style="padding: 0 0 40px 0">
    <div class="d-row-c">
        <div class="d-col-2-8">
            <div class="contentarea">
                <!-- region start: 新闻列表 -->
                <div id="d_articlelist" class="d-articlelist">
                    <div class="body" id="lstNews">
                       
                        <!--
                            <div class="item">
                            <div class="title">
                                <a href="（新闻详细页面）" target="_blank">
                                    （新闻标题）
                                </a>
                            </div>
                            <div class="info">
                                <span class="date">（发布时间）</span>
                                <span class="from">（来源）</span>
                                <span class="view">（浏览次数）</span>
                            </div>
                            <div class="desc txt-justify">
                                <p>（新闻内容）</p>
                            </div>
                        </div>
                        -->
                    </div>
                    <div class="loadMore"></div>
                </div>
                <!-- region end: 资讯列表 -->
            </div>
        </div>
        <div class="d-col-2-4">
            <div class="contentarea">
                
                <!-- region start: 推荐资讯 -->
                <div id="d_articlehot" class="d-articlehot">
                    <div class="head">热门新闻</div>
                    <div class="body">
                        @foreach (var item in ViewBag.LstNews as List<News>)
                        { 
                          <a class="item trim" href="/News/Show/@item.ID" target="_blank" title="@item.Title">@item.Title</a>
                        }    
                    </div>
                </div>
                <!-- region end: 推荐资讯 -->
            </div>
        </div><div class="clear"></div>
    </div>
</div>