
@{
    ViewBag.Title = "增加电子书";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<div>
    <div class="result-title">
        <h1 class="head-tietle">增加电子书</h1>
    </div>
    @using (Html.BeginForm("AddEBook", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgerySID()
        <table class="detail-table">
            <tr>
                <td class="row-title">一级分类</td>
                <td>
                    <select name="oneType" class="textbox w-3" id="lsOneType">
                        <option value="0">选择分类</option>
                        @foreach (var item in ViewBag.Types)
                        {
                            <option value="@item.ID">@item.TypeValue</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td class="row-title">二级分类</td>
                <td>
                    <select name="EBookTypeID" class="textbox w-3" id="lsSecondType"></select>
                </td>
            </tr>
            <tr>
                <td class="row-title">标题</td>
                <td>
                    <input class="textbox w-3" name="Title" />
                </td>
            </tr>
            <tr>
                <td class="row-title">作者</td>
                <td>
                    <input class="textbox w-3" name="Author" />
                </td>
            </tr>
            <tr>
                <td class="row-title">
                   描述
                </td>
                <td>
                    <textarea class="textbox w-3" style="height:100px;" name="Description"></textarea>
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    上传封面
                </td>
                <td>
                    <input type="file" name="file1" id="file1" class="textbox" />
                </td>
            </tr>
            <tr>
                <td class="row-title">电子书文件上传</td>
                <td>
                    <input type="file" name="file" />
                </td>
            </tr>
        </table>

        <p><input type="submit" value="增加" class="button blue" /></p>
    }
</div>


