@using QqhrCitizen.Models
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    Course course = ViewBag.Course as Course;
    ViewBag.Title = course.Title;
}

<div>
    <h2 class="head-tietle">@course.Title - 增加课时</h2>
    @using (Html.BeginForm("AddLession", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgerySID()
        <input type="hidden" name="CourseID" value="@course.ID" />
        <table class="detail-table">
            <tr>
                <td class="row-title">课程</td>
                <td>
                    @course.Title
                </td>
            </tr>
            <tr>
                <td class="row-title">课时名称</td>
                <td>
                    <input type="text" name="Title" class="textbox" />
                </td>
            </tr>

            <tr>
                <td class="row-title">描述</td>
                <td>
                    <textarea name="Description" class="textbox" style="height:100px;width:300px;"></textarea>
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    备注
                </td>
                <td>
                    <textarea name="Remark" class="textbox"  style="height:100px;width:300px;"></textarea>
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    视频文件
                </td>
                <td>
                    <input type="file" name="file" class="textbox" />
                    <br />
                    （目前只支持MP4，WMV，FLV，MP3等格式的文件，WMV只在IE中可以播放）
                </td>
            </tr>
        </table>
        <p><input type="submit" value="增加" class="button blue" /></p>
    }

</div>
