@{
    ViewBag.Title = "增加直播";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="result-title">
        <h1 class="head-tietle">增加直播</h1>
    </div>
    @using (Html.BeginForm("AddLive", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <table class="detail-table">
            <tr>
                <td class="row-title">标题</td>
                <td>
                    <input class="textbox w-3" type="text" name="Title" />
                </td>
            </tr>

            <tr>
                <td class="row-title">
                    URL地址
                </td>
                <td>
                    <input type="text" name="LiveURL" class="textbox w-3" />(例如：rtmp://218.8.130.128:1935/Live/Video1)
                </td>
            </tr>

            <tr>
                <td class="row-title">描述</td>
                <td>
                    <textarea class="textbox w-3 nullable"  name="Description" ></textarea>
                </td>
            </tr>

            <tr>
                <td class="row-title">开始时间</td>
                <td>
                    <input type="text" name="Begin" class="textbox datetime" placeholder="发布时间(大于)"  />
                </td>
            </tr>

            <tr>
                <td class="row-title">结束时间</td>
                <td>
                    <input type="text" name="End" class="textbox datetime" placeholder="发布时间(大于)" />
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    直播缩略图:
                </td>
                <td>
                    <input type="file" name="file" id="file" class="textbox" />
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    是否需要登录标记
                </td>
                <td>
                    <select name="NeedAuthorize" class="textbox">
                        <option value="0">否</option>
                        <option value="1">是</option>
                    </select>
                </td>
            </tr>
        </table>
        <p><input type="submit" value="增加" class="button blue" /></p>
    }
</div>





