@{
    ViewBag.Title = "增加资源链接";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div>
    <div class="result-title">
        <h1>增加资源链接</h1>
    </div>
    @using (Html.BeginForm("AddLink", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgerySID()
        <table class="detail-table">
            <tr>
                <td class="row-title">链接类型</td>
                <td>
                    <select name="LinkTypeID" class="textbox w-2" id="lsOneType">
                        <option value="0">选择分类</option>
                        @foreach (var item in ViewBag.Types)
                        {
                            <option value="@item.ID">@item.TypeValue</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
            <tr>
                <td class="row-title">标题</td>
                <td>
                    <input class="textbox w-3" name="Title" />
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    URL地址
                </td>
                <td>
                    <input type="text" name="URL" class="textbox w-3" />
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    是否上传文件
                </td>
                <td>
                    <select name="IsHaveFile" class="textbox">
                        <option value="false">否</option>
                        <option value="true">是</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="row-title">
                    请选择文件:
                </td>
                <td>
                    <input type="file" name="file" class="textbox nullable" />
                </td>
            </tr>
        </table>
        <p><input type="submit" value="增加" class="button blue" /></p>
    }
</div>




