@{
    ViewBag.Title = "增加产品";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Styles/codecomb.droptxt.css" rel="stylesheet" />
<script src="~/Scripts/codecomb.droptxt.js"></script>
<div>
    <div class="result-title">
        <h1 class="head-tietle">增加产品</h1>
    </div>
    @using (Html.BeginForm("AddProduct", "Admin", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <table class="detail-table">
            <tr>
                <td class="row-title">标题</td>
                <td>
                    <input class="textbox w-3" type="text" name="Title" />
                </td>
            </tr>
            <tr>
                <td class="row-title">
                   类型
                </td>
                <td>
                    <select name="ProductCategory" id="slProductCategory" class="textbox">
                        <option value="0">商品</option>
                        <option value="1">作品</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="row-title">描述</td>
                <td>
                     <textarea name="Description" rows="20" class="textbox"></textarea>
                </td>
            </tr>
            <tr id="trPrice">
                <td class="row-title">价格</td>
                <td>
                    <input class="textbox w-3 nullable" type="text" name="Price" />
                </td>
            </tr>
            <tr id="trUser" style="display:none;">
                <td class="row-title">对应用户名</td>
                <td>
                    <input class="textbox w-3 nullable" type="text" id="txtUsername" name="TUsername" />
                    <input type="hidden" name="TUserID" id="txtUserId" />
                </td>
            </tr>
        </table>
        <p><input type="submit" value="增加" class="button blue" /></p>
    }
</div>

<script>
    $('#txtUsername').droptxt('/Admin/GetUserByName', 'data');
    $(document).ready(function () {
        $("#slProductCategory").change(function () {
            var data = $("#slProductCategory").val();
            if (data == "0") {
                $("#trUser").hide();
                $("#trPrice").show();
            }
            else {
                $("#trUser").show();
                $("#trPrice").hide();
            }
        });
    })
</script>