@{
    ViewBag.Title = "产品增加视频";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>产品增加视频</h2>
@using (Html.BeginForm("AddProductVideo", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <input name="ProductID" type="hidden" value="@ViewBag.ProductID" />
    <table class="detail-table">
        <tr>
            <td class="row-title">
                上传视屏
            </td>
            <td>
                <input type="file" name="file" id="file" class="textbox" />
            </td>
        </tr>
    </table>
    <p>
        <input type="submit" value="增加" class="button blue" />
        <input class="button" onclick="history.go(-1)" value="返回" type="button">
    </p>
}


