@using QqhrCitizen.Models;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    User user = ViewBag.Currentuser as User;
}


<div>
    当前用户:@user.Username  <br />
    角色：@CommonEnums.RoleDisply[user.RoleAsInt]
</div>
