@using QqhrCitizen.Models;
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    User user = ViewBag.Currentuser as User;
}

<div>

    当前用户:@user.Username  <br />
    @if (user.Role > Role.Business)
    {
        <span>角色：@CommonEnums.RoleDisply[user.RoleAsInt] </span><br />
        <span>新闻数：@ViewBag.NewsCount  </span><br />
        <span>课程数: @ViewBag.CourseCount </span><br />
        <span>电子书数： @ViewBag.EBookCount </span><br />
        <span>直播数：@ViewBag.LiveCount </span><br />
        <span>用户数：@ViewBag.UserCount </span><br />
    }

    产品：@ViewBag.ProductCount
</div>
